<nav id="nav-menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu-items">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" [routerLink]="['/']" [routerLinkActive]="['navclick']" [routerLinkActiveOptions]="{exact:true}">
        Mohvin
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-menu-items">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/search']" class="page-scroll" [routerLinkActive]="['navclick']" [routerLinkActiveOptions]="{exact:true}">
            Find home</a>
        </li>
        <li>
          <a [routerLink]="['/rate-home']" class="page-scroll" [routerLinkActive]="['navclick']" [routerLinkActiveOptions]="{exact:true}">
            Rate home</a>
        </li>
        <li>
          <a>
            Account</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>