<footer>
  <div id="social-section">
    <div class="container">
    </div>
  </div>
  <div id="footer" class="text-center">
    <div class="container">
      <p>Copyright © SQ-Tech. All rights reserved.</p>
    </div>
  </div>
</footer>
