:host {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Montserrat-Medium', sans-serif;
}

input[type="radio"]:focus {
    outline: none;
}

.landing-image {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-image {
    background-image: url('/assets/img/rate-home/rate-home.jpg');
    min-height: 100%;
    height: 75vh;
}

.landing-image .main-text {
    position: absolute;
    top: 3em;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 40px;
}

.left-padding {
    padding-left: 3em;
}

.main-text p {
    font-weight: 500;
    font-family: 'Montserrat-Medium', sans-serif;
}

.custom-search-form {
    margin-top: 5px;
}

.input-btn {
    border-radius: 0px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1), 0 1px 5px rgba(0, 0, 0, .1);
    background-color: white;
    height: 3em;
}

.search-btn {
    background: #2f44e6;
    border-radius: 0px;
    height: 3em;
}

.search-text {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.search-text:hover {
    color: #fff;
}

.info-text {
    background: #ededed;
    height: 40vh;
}

.info-text-div {
    margin-top: -3em;
}

.info-div {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1), 0 1px 5px rgba(0, 0, 0, .1);
}

.info-text-header {
    padding-top: 1em;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: #515b66;
    letter-spacing: 0.02em;
    font-family: 'Montserrat-Medium', sans-serif;
}

.info-text-section {
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 180%;
    font-family: 'Montserrat-Medium', sans-serif;
}

.info-text-p {
    font-size: 12px;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    font-family: 'Montserrat-Medium', sans-serif;
}

.right-border {
    border-right: 1px solid #ddd;
}

.estimation-body {
    padding-top: 3em;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 180%;
}

@media screen and (max-width: 400px) and (min-width: 240px) {
    .left-padding {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .landing-image {
        background-image: url('/assets/img/rate-home/rate-home.jpg');
        min-height: 100%;
        height: 60vh;
    }
}

#housing-type-page {
    background: #ededed;
    height: 120vh;
}

.address-div {
    margin-top: 6em;
    background: #fff;
}

.address-header {
    text-align: center;
    font-size: 20px;
    padding-top: 2em;
    font-weight: 700;
    line-height: 160%;
    font-family: 'Montserrat-Medium', sans-serif;
}

.address-text {
    text-align: center;
    font-size: 17px;
    margin-top: 0.1em;
    font-family: 'Montserrat-Medium', sans-serif;
}

.btn-glyphicon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}

.stepwizard-step p {
    margin-top: 0px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.liner {
    height: 3px;
    background: #ddd;
    position: absolute;
    width: 25em;
    margin: 0 auto;
    left: 0;
    right: 2em;
    top: 10px;
}

.btn-circle {
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

.bs-wizard>.bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard>.bs-wizard-step+.bs-wizard-step {}

.bs-wizard>.bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    /* background: #fbe8aa; */
    bottom: 1.6em;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    cursor: default;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
    content: ' ';
    width: 20px;
    height: 20px;
    background: #8cbe8c;
    border-color: #8cbe8c;
    border-radius: 50px;
    position: absolute;
    top: 4px;
    left: 8px;
}

.bs-wizard>.bs-wizard-step>.progress {
    position: relative;
    border-radius: 0px;
    height: 4px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
    width: 0px;
    box-shadow: none;
    background: #bcbcbc;
}

.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
    width: 100%;
}

.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
    width: 50%;
}

.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
    width: 0%;
}

.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
    width: 100%;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard>.bs-wizard-step:first-child>.progress {
    left: 50%;
    width: 50%;
}

.bs-wizard>.bs-wizard-step:last-child>.progress {
    width: 50%;
}

.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}

.step-active {
    background: #8cbe8c;
    border-color: #8cbe8c;
}

.steps-inactive {
    background: #bcbcbc;
    border-color: #bcbcbc;
}

.housing-estimation {}

.housing-estimation p {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 2em;
}

.housing-items {
    overflow-x: hidden;
}

.housing-items-div-text {
    color: #647ce6;
    padding-top: 1em;
}

.housing-img {
    display: block;
    height: 5em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background: url('assets/img/rate-home/apartment.jpeg');
}

.housing-items-div {
    font-size: 14px;
    text-align: center;
    margin-bottom: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .075), 0 1px 4px rgba(0, 0, 0, .075);
    border-radius: 2px;
    cursor: pointer;
    border-bottom: 2px solid #54c4b8;
}

.housing-anchor {
    text-decoration: none;
}

#apartment-form-1 {
    background: #ededed;
    height: 120vh;
}

.input-group-addon {
    background-color: transparent;
    border: none;
    float: right;
    position: relative;
    right: 2em;
    bottom: 1.5em;
    padding: 0;
    margin: 0;
}

.apartment-form-page-1 {
    margin-top: 1em;
}

.apartment-form-page-1 label {
    font-size: 12px;
    font-weight: 400;
}

.apartment-form-page-1 span {
    font-size: 10px;
    color: #999;
    font-style: italic;
}

.apartment-page-1-button {
    width: 100%;
}

.apartment-page-1-button:hover {
    color: #fff;
    background: #4e6bbe;
}

#apartment-form-2 {
    background: #ededed;
    height: 150vh;
}

.label-selected {
    background: #87bbb7;
    border-color: #87bbb7;
    color: #fff;
}

.label-unselected {
    background: #fff;
    border-color: #87bbb7;
}

input[type=radio] {
    display: none;
}

.radio-padding {
    padding: 0.7em;
    width: 100%;
}

.radio-box-padding {
    padding: 3px;
    padding-bottom: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.fireplace-label-whitespace {
    white-space: initial;
    height: 4em;
}

.whitespace-padding {
    padding-top: 1.3em;
}

#apartment-form-3 {
    background: #ededed;
    height: 120vh;
}

/* apartment final form */

.nav-tabs {
    font-size: 13px;
    border-bottom: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
    background: #87bbb7;
    border-color: #87bbb7;
    color: #fff;
}

.nav-tabs>li>a {
    background: #fff;
    border-color: #87bbb7;
    color: #9b9b9b;
    border-radius: 4px;
    margin-right: 5px;
    height: 4em;
    line-height: 120%;
}

.nav-tabs>li.active>a {
    background: #87bbb7;
    border-color: #87bbb7;
    height: 4em;
    line-height: 120%;
}

.nav-tabs>li>a:hover {
    background: #fff;
    border: 2px solid #87bbb7;
}

.tab-pane {
    /* padding: 15px 0; */
}

.tab-content {
    padding: 20px 0px 20px 0px;
}

.nav-tabs>li {
    width: 25%;
    text-align: center;
}

.card {
    margin-bottom: 30px;
}

.termsconditions {
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 180%;
    margin-bottom: 1em;
}

.label-font {
    font-size: 12px;
    font-weight: 400;
}

.span-font {
    font-size: 10px;
    color: #999;
    font-style: italic;
}

.div-no-padding {
    padding: 0;
}

.buy-date-div {
    padding: 0;
    padding-left: 15px;
}

.buy-year-padding {
    padding: 0;
    padding-left: 10px;
}

.buy-reason-padding {
    padding: 0;
    padding-right: 10px;
}

.buy-month-padding {
    padding-top: 0.2em;
}

@media all and (max-width:724px) {
    .nav-tabs>li>a>span {
        font-size: 10px;
    }
    .nav-tabs>li>a {
        padding: 5px 5px;
    }
}