<div id="rate-homes" class="landing-image" *ngIf="!showhousingTypePage">
    <div class="main-text">
        <div class="col-md-offset-3 col-md-5 left-padding">
            <p>
                Rate a home
            </p>
            <div class="input-group">
                <input type="text" class="form-control input-lg input-btn" #search>
                <span class="input-group-btn">
                    <button class="btn btn-lg search-btn" type="button">
                        <span class="search-text">Search</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="info-text" *ngIf="!showhousingTypePage">
    <div class="col-md-offset-2 col-md-8 info-text-div hidden-sm hidden-xs">
        <div class="col-md-12 info-div">
            <div class="col-md-4 right-border">
                <div class="info-text-header">Free</div>
                <p class="info-text-section">
                    to do, how many you want
                </p>
            </div>
            <div class="col-md-4 right-border">
                <div class="info-text-header">Max 2 min</div>
                <p class="info-text-section">
                    take it to do
                </p>
            </div>
            <div class="col-md-4">
                <div class="info-text-header">600 000+</div>
                <p class="info-text-section">
                    Ratings have been made
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center estimation-body">How does it work?</div>
        <div class="text-center">
            <p class="info-text-p">Fill out the form with information about your property and we will evaluate the property for free. </p>
            <p class="info-text-p">You get the value indication directly! </p>
            <p class="info-text-p">Our values are based on sold homes in your area. </p>
        </div>
    </div>
</div>

<div id="housing-type-page" *ngIf="showhousingTypePage">
    <div class="container">
        <div class="col-md-12 address-div">
            <div class="col-md-2"></div>
            <div class="col-md-8 housing-items">
                <div class="housing-type">
                    <div class="address">
                        <div class="address-header">
                            Rate a home
                        </div>
                        <p class="address-text">Wergelandsgatan 46</p>
                    </div>
                    <div class="col-md-offset-1 col-md-10">
                        <div class="steps">
                            <!-- <div class="stepwizard">
                                <div class="stepwizard-row">
                                    <div class="liner"></div>
                                    <div class="stepwizard-step">
                                        <button type="button" class="btn btn-default btn-circle step-active">
                                        </button>
                                        <p class="">
                                            <small class="text-muted">
                                                Key
                                            </small>
                                        </p>
                                    </div>
                                    <div class="stepwizard-step">
                                        <button type="button" class="btn btn-default btn-circle steps-inactive">
                                        </button>
                                        <p>
                                            <small class="text-muted">
                                                Details
                                            </small>
                                        </p>
                                    </div>
                                    <div class="stepwizard-step">
                                        <button type="button" class="btn btn-default btn-circle steps-inactive">
                                        </button>
                                        <p>
                                            <small class="text-muted">
                                                Email
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div> -->

                            <div class="row bs-wizard" style="border-bottom:0;">

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Key</div>
                                </div>

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <!-- complete -->
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Details</div>
                                </div>

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <!-- complete -->
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Email</div>
                                </div>
                            </div>
                        </div>

                        <div class="housing-estimation">
                            <p>What is the type of housing?</p>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <a (click)="showHousingForm1()" class="housing-anchor">
                                    <div class="housing-items-div-text housing-items-div ">Apartment
                                        <div class="housing-img"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <a href="#" class="housing-anchor">
                                    <div class="housing-items-div-text housing-items-div ">Vacation
                                        <div class="housing-img"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <a href="#" class="housing-anchor">
                                    <div class="housing-items-div-text housing-items-div ">Villa
                                        <div class="housing-img"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <a href="#" class="housing-anchor">
                                    <div class="housing-items-div-text housing-items-div ">Townhouse
                                        <div class="housing-img"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <a href="#" class="housing-anchor">
                                    <div class="housing-items-div-text housing-items-div ">Semi-Detached
                                        <div class="housing-img"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <a href="#" class="housing-anchor">
                                    <div class="housing-items-div-text housing-items-div ">Detached House
                                        <div class="housing-img"></div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>


                </div>
                <!-- <div class="">
                    <div class="col-md-4 col-sm-6 col-xs-6 housing-items-div">
                        <span>Apartment</span>
                        <a href="#" class="housing-img">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 housing-items-div">
                        <span>Apartment</span>
                        <a href="#" class="housing-img">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 housing-items-div">
                        <span>Apartment</span>
                        <a href="#" class="housing-img">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 housing-items-div">
                        <span>Apartment</span>
                        <a href="#" class="housing-img">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 housing-items-div">
                        <span>Apartment</span>
                        <a href="#" class="housing-img">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 housing-items-div">
                        <span>Apartment</span>
                        <a href="#" class="housing-img">
                        </a>
                    </div>
                </div> -->
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>

<div id="apartment-form-1">
    <div class="container">
        <div class="col-md-12 address-div">
            <div class="col-md-2"></div>
            <div class="col-md-8 housing-items">
                <div class="housing-type">
                    <div class="address">
                        <div class="address-header">
                            Rate a home
                        </div>
                        <p class="address-text">Wergelandsgatan 46</p>
                    </div>
                    <div class="col-md-offset-1 col-md-10">
                        <div class="steps">
                            <div class="row bs-wizard" style="border-bottom:0;">

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Key</div>
                                </div>

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Details</div>
                                </div>

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Email</div>
                                </div>
                            </div>
                        </div>
                        <div class="apartment-form-page-1 row">
                            <div class="form-group">
                                <label for="living-area">Living area</label>
                                <input type="text" class="form-control" id="living-area" placeholder="Enter the living area">
                                <span class="input-group-addon">m
                                    <sup>2</sup>
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="no-of-rooms">No of rooms</label>
                                <span>-Optional</span>
                                <input type="text" class="form-control" id="no-of-rooms" placeholder="Do not know">
                            </div>

                            <div class="form-group">
                                <label for="construction-year">Year of construction</label>
                                <span>-Optional</span>
                                <input type="text" class="form-control" id="construction-year" placeholder="Do not know">
                            </div>

                            <div class="form-group">
                                <label for="apartment-no">Apartment Number</label>
                                <span>-Optional</span>
                                <input type="text" class="form-control" id="apartment-no" placeholder="Do not know">
                            </div>

                            <div class="form-group">
                                <label for="fee">Fee</label>
                                <span>-Optional</span>
                                <input type="text" class="form-control" id="fee" placeholder="Do not know">
                            </div>

                            <div class="form-group apartment-page-1-button">
                                <button class="btn apartment-page-1-button">continue</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>

<div id="apartment-form-2">
    <div class="container">
        <div class="col-md-12 address-div">
            <div class="col-md-2"></div>
            <div class="col-md-8 housing-items">
                <div class="housing-type">
                    <div class="address">
                        <div class="address-header">
                            Rate a home
                        </div>
                        <p class="address-text">Wergelandsgatan 46</p>
                    </div>
                    <div class="col-md-offset-1 col-md-10">
                        <div class="steps">
                            <div class="row bs-wizard" style="border-bottom:0;">

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Key</div>
                                </div>

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Details</div>
                                </div>

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Email</div>
                                </div>
                            </div>
                        </div>
                        <div class="apartment-form-page-1 row">
                            <div class="form-group">
                                <label for="ceiling-height">Ceiling height</label>
                                <span>-Optional</span>
                                <input type="text" class="form-control" id="ceiling-height" placeholder="Do not know">
                            </div>

                            <div class="form-group">
                                <label for="elevator-available">Elevator available in the house</label>
                                <span>-Optional</span>
                                <!-- <input type="text" class="form-control" id="elevator-available" placeholder="Do not know"> -->
                                <div class="btn-grp btn-grp-justified" data-toggle="buttons">
                                    <div class="col-md-4 col-sm-4 col-xs-4 radio-box-padding">
                                        <label class="btn radio-padding label-selected active">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Do not know
                                        </label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 radio-box-padding">
                                        <label class="btn radio-padding label-unselected">
                                            <input type="radio" name="options" id="option2" autocomplete="off"> Yes
                                        </label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 radio-box-padding">
                                        <label class="btn radio-padding label-unselected">
                                            <input type="radio" name="options" id="option3" autocomplete="off"> No
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="balcony-patio">Balcony / patio</label>
                                <span>-Optional</span>
                                <!-- <input type="text" class="form-control" id="balcony-patio" placeholder="Do not know"> -->
                                <select class="form-control" id="sel1">
                                    <option>Do not know</option>
                                    <option>Yes, traditional</option>
                                    <option>Yes, French</option>
                                    <option>Yes, 2+ balconies</option>
                                    <option>Yes, takerass</option>
                                    <option>Yes, king bell</option>
                                    <option>Yes, own patio</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="stove-fireplace">Tiled stove / Fireplace</label>
                                <span>-Optional</span>
                                <!-- <input type="text" class="form-control" id="stove-fireplace" placeholder="Do not know"> -->
                                <div class="btn-grp btn-grp-justified" data-toggle="buttons">
                                    <div class="col-md-3 col-sm-3 col-xs-6 radio-box-padding">
                                        <label class="btn radio-padding label-selected active fireplace-label-whitespace whitespace-padding">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Do not know
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6 radio-box-padding">
                                        <label class="btn radio-padding label-unselected fireplace-label-whitespace whitespace-padding">
                                            <input type="radio" name="options" id="option2" autocomplete="off"> No
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6 radio-box-padding">
                                        <label class="btn radio-padding label-unselected fireplace-label-whitespace whitespace-padding">
                                            <input type="radio" name="options" id="option3" autocomplete="off">Yes, you can cook in
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6 radio-box-padding">
                                        <label class="btn radio-padding label-unselected fireplace-label-whitespace">
                                            <input type="radio" name="options" id="option3" autocomplete="off"> Yes, but you cannot cook in
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="balcony-patio">View</label>
                                <span>-Optional</span>
                                <!-- <input type="text" class="form-control" id="balcony-patio" placeholder="Do not know"> -->
                                <select class="form-control" id="view">
                                    <option>Do not know</option>
                                    <option>Nothing special</option>
                                    <option>Sea view</option>
                                    <option>Lake view</option>
                                    <option>Runs</option>
                                    <option>Courtyard</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="balcony-patio">Condition in kitchen</label>
                                <span>-Optional</span>
                                <!-- <input type="text" class="form-control" id="balcony-patio" placeholder="Do not know"> -->
                                <select class="form-control" id="kitchen_condition">
                                    <option>Do not know</option>
                                    <option>Bad</option>
                                    <option>Pretty bad</option>
                                    <option>OK</option>
                                    <option>Good</option>
                                    <option>Top Class</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="balcony-patio">Condition in bathroom</label>
                                <span>-Optional</span>
                                <!-- <input type="text" class="form-control" id="balcony-patio" placeholder="Do not know"> -->
                                <select class="form-control" id="bathroom_condition">
                                    <option>Do not know</option>
                                    <option>Bad</option>
                                    <option>Pretty bad</option>
                                    <option>OK</option>
                                    <option>Good</option>
                                    <option>Top Class</option>
                                </select>
                            </div>



                            <div class="form-group apartment-page-1-button">
                                <button class="btn apartment-page-1-button">continue</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>

<div id="apartment-form-3">
    <div class="container">
        <div class="col-md-12 address-div">
            <div class="col-md-2"></div>
            <div class="col-md-8 housing-items">
                <div class="housing-type">
                    <div class="address">
                        <div class="address-header">
                            Rate a home
                        </div>
                        <p class="address-text">Wergelandsgatan 46</p>
                    </div>
                    <div class="col-md-offset-1 col-md-10">
                        <div class="steps">
                            <div class="row bs-wizard" style="border-bottom:0;">

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Key</div>
                                </div>

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Details</div>
                                </div>

                                <div class="col-xs-4 bs-wizard-step complete">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="#" class="bs-wizard-dot"></a>
                                    <div class="bs-wizard-info text-center">Email</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Nav tabs -->
                                <div class="card">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#curious" aria-controls="curious" role="tab" data-toggle="tab" class="whitespace-padding">
                                                <span>Curious</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#residence-owner" aria-controls="residence-owner" role="tab" data-toggle="tab">
                                                <span>Owns a residence</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                                                <span>Move to the area</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" class="whitespace-padding">
                                                <span>Other reasons</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="curious">
                                            <div class="form-group">
                                                <label for="email-curious" class="label-font">Email</label>
                                                <input type="email" class="form-control" id="email-curious" placeholder="Enter your email address">
                                            </div>
                                            <div class="termsconditions">
                                                By evaluating the residence, you
                                                <a href="">accept Movin's Terms of Use</a> , as well as certifying that the information
                                                is correct and that they are published on Mohvin.com.
                                            </div>
                                            <div class="form-group apartment-page-1-button">
                                                <button class="btn apartment-page-1-button">Evaluate the accommodation</button>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="residence-owner">
                                            <div class="col-md-12 col-sm-12 col-xs-12 div-no-padding">
                                                <div class="col-md-6 col-sm-12 col-xs-12 div-no-padding">
                                                    <div class="form-group">
                                                        <label for="buy-reason" class="label-font">What did you buy it for?</label>
                                                        <span class="span-font">-Optional</span>
                                                        <input type="text" class="form-control" id="buy-reason" placeholder="Do not know">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-6 form-group buy-year-padding">
                                                    <label for="buy-date" class="label-font">When did you buy it?</label>
                                                    <input type="text" class="form-control" id="buy-date" placeholder="ex. 1970">
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-6 buy-date-div buy-month-padding">
                                                    <label></label>
                                                    <select class="form-control" id="buy_month">
                                                        <option>January</option>
                                                        <option>February</option>
                                                        <option>March</option>
                                                        <option>April</option>
                                                        <option>May</option>
                                                        <option>June</option>
                                                        <option>July</option>
                                                        <option>August</option>
                                                        <option>September</option>
                                                        <option>October</option>
                                                        <option>November</option>
                                                        <option>December</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email-residence-owner" class="label-font">Email</label>
                                                <input type="email" class="form-control" id="email-residence-owner" placeholder="Enter your email address">
                                            </div>

                                            <div class="termsconditions">
                                                By evaluating the residence, you
                                                <a href="">accept Movin's Terms of Use</a> , as well as certifying that the information
                                                is correct and that they are published on Mohvin.com.
                                            </div>
                                            <div class="form-group apartment-page-1-button">
                                                <button class="btn apartment-page-1-button">Evaluate the accommodation</button>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="messages"></div>
                                        <div role="tabpanel" class="tab-pane" id="settings"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>