:host {
    overflow: hidden;
    white-space: nowrap;
}

.tags-input {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /* width: 550px; */
    font-size: 15px;
}

.tags-input__tag {
    display: inline-block;
    /* margin-bottom: 8px !important; */
    margin-top: -10px;
    margin-right: 5px;
    padding-top: .5em;
    padding-right: 0.3em;
    /* height: 30px; */
    font-size: 14px;
    font-weight: 400;
    background: #7188e0;
    letter-spacing: 0.02em;
}

.tags-input__tag-remove-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin: -3px 0 0 3px;
    padding: 0;
    vertical-align: top;
}

.tags-input__tag:hover {
    cursor: pointer;
    font-size: 16px;
}

.tags-input__tag-remove-btn:hover {
    font-size: 19px;
}

.tags-input__input-field {
    border: none;
    flex-grow: 1;
    outline: none;
    margin-top: -5px;
    letter-spacing: 0.02em;
    line-height: 180%;
}