li {
    list-style: none;
}

hr {
    width: 80%;
    margin-right: 8em;
    margin-bottom: 0;
}

#home-details {
    /* background: #ededed; */
}

.navbar {
    background: blue;
    height: 60px;
    color: #fff;
    z-index: 1030;
}

.nav-title {
    padding-top: 1em;
    letter-spacing: 0.02em;
    line-height: 180%;
    font-weight: 400;
    font-size: 16px;
}

.property-star {
    padding-top: 1em;
    font-size: 20px;
    color: #fff;
}

.property-close {
    padding-top: 1em;
    font-size: 20px;
    color: #fff;
}

.property-div-line {
    height: 60px;
    border-right: 1px solid #b5b2b2;
}

#home-details-body {
    background: #ededed;
    min-height: 100vh;
}

.card {
    padding-top: 6em;
    overflow-x: hidden;
}

.card-header {
    border-top: 5px solid #4d90fe;
    padding: 15px;
    background: #fff;
    text-transform: uppercase;
    font-weight: 700;
    color: #4d90fe;
}

.header-title {
    /* padding: 10px; */
    color: #515156;
    text-transform: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-footer {
    background: #fff;
}

.card-footer-title {
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}

.card-property {
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 240%;
    color: #4d90fe;
    position: relative;
    left: 3.5em;
}

.card-property-border {
    text-align: center;
    border: 1px solid #ddd;
    margin-right: 5px;
    padding: 5px;
    /* box-shadow: 2px 2px 2px #888888; */
}

.card-property-border:hover {
    box-shadow: 2px 2px 2px 1px #b9b4b4;
    cursor: pointer;
}

.card-property-border>a {
    text-decoration: none;
}

.property-desc {
    float: right;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.property-title {
    font-size: 14px;
    letter-spacing: 0.02em;
}

.property-details>li {
    padding-top: 10px;
    padding-bottom: 10px;
    left: 10%;
    border-bottom: 1px solid #ddd;
    position: relative;
    width: 90%;
}

.property-details-sm>li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    width: 100%;
}

.property-estimation {
    position: relative;
    border: 1px solid #ddd;
    text-align: center;
    height: 9em;
    width: 18em;
    left: 3.5em;
    margin-top: 2em;
}

.property-estimation .fa {
    color: #79b459;
    margin-top: 0.5em;
}

.property-estimation-sm {
    position: relative;
    border: 1px solid #ddd;
    text-align: center;
    height: 9em;
    margin-top: 1em;
}

.property-estimation-sm .fa {
    color: #79b459;
    margin-top: 0.5em;
}

.prop-indication {
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 180%;
    font-size: 14px;
    font-weight: 400;
}

.prop-price {
    text-align: center;
    line-height: 180%;
}

.property-sm-map {
    position: relative;
    height: auto;
    width: 18em;
    left: 3.5em;
    margin-top: 2em;
    cursor: pointer;
}

.property-media-object {
    position: relative;
    border: 1px solid #ddd;
    text-align: center;
    height: 9em;
    width: 18em;
    left: 3.5em;
    margin-top: 2em;
}

.property-media-object-sm {
    position: relative;
    text-align: center;
    margin-top: 1em;
    background: #fff;
}

.cost-div-sm {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.cost-calculation-sm {
    font-size: 12px;
    text-align: center;
    padding-left: 2em;
    margin-top: -1.5em;
}

.cost-image-sm {
    padding: 0;
    width: 1.5em;
    height: auto;
    margin-left: 4px;
}

.cost-div {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.cost-calculation {
    font-size: 13px;
    text-align: center;
    padding: 0;
    padding-top: 9px;
}

.cost-image {
    padding: 0;
    width: 2em;
    height: auto;
    margin-left: 10px;
}

.broker-div {
    padding-top: 2em;
    text-align: center
}

.broker-btn {
    padding-left: 4em;
    padding-right: 4em;
    background: #4d90fe;
    color: #fff;
    border-radius: 0px;
    border: 1px solid #4d90fe;
    letter-spacing: 0.02em;
    margin-bottom: 1em;
}

.div-bottom-padding {
    padding-bottom: 2em;
}

.resort-fee {
    margin-top: 2em;
    background: #fff;
}

.resort-fee-header {
    text-align: center;
    color: #515156;
    text-transform: none;
    font-size: 30px;
    font-weight: 400;
    padding: 15px;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ddd;
}

.resort-fee-header .fa {
    color: #79b459;
    margin-top: 0.5em;
}

.resort-body-inner {
    padding: 3em 6em 3em 6em;
}

.chart-section {
    background: #f5f5f5;
    padding-top: 2em;
    padding-bottom: 2em;
}

.controls {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 3em;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 25em;
}

.controls-sm {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 3em;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.pac-input {
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 4%;
    padding: 30px;
    color: #000;
    /* position: relative; */
}

.inner-addon {
    position: relative;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #515151;
}

/* style glyph */

.inner-addon .fa {
    position: absolute;
    /* padding: 45px 15px 10px; */
    cursor: pointer;
    font-size: 25px;
    color: #4d90fe;
    position: absolute;
    z-index: 2;
}

.right-addon .fa {
    right: 2%;
    top: 50%;
}

.right-addon input {
    border-radius: 0 !important;
}

.triangle {
    position: absolute;
    font-size: 5px;
}

.triangle::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 4.5em;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #fff #fff;
    background: #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.resort-left-span {
    font-size: 0.85em;
    float: left;
}

.resort-right-span {
    font-size: 0.85em;
    float: right;
    margin-right: 7em;
    color: #999;
    font-weight: 400 !important;
}

.text-normal {
    font-weight: 400 !important;
}

.input-unit {
    transition: opacity .1s linear;
    position: absolute;
    right: 7em;
    bottom: 3.5em;
    pointer-events: none;
    opacity: 1;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}

.input-unit-sm {
    transition: opacity .1s linear;
    position: absolute;
    right: 1em;
    bottom: 3.5em;
    pointer-events: none;
    opacity: 1;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}

.input-unit-month {
    transition: opacity .1s linear;
    position: absolute;
    right: 7em;
    bottom: 0.5em;
    pointer-events: none;
    opacity: 1;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}

.input-range {
    width: 25em;
    overflow: hidden;
}

.input-range-sm {
    width: 100%;
    overflow: hidden;
}

.list-interest {
    font-size: 0.85em;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resort-fee-calculation {
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 180%;
}

.loan-payment {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    border: 1px solid #ddd;
}

.payment-text {
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 180%;
}

.payment-logo {
    display: inline-block;
    width: 35px;
    height: 15px;
    background-image: url(assets/img/home-detail/SBA.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.payment-div {
    text-align: center;
    color: #fff;
    padding: 10px;
}

.payment-div:hover {
    color: #fff;
}

.payment-btn {
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 0px;
}

.payment-btn:hover {
    color: #fff;
    background: #4e6bbe;
}

.brf-analysis {
    margin-top: 2em;
    background: #fff;
}

.brf-analysis-header {
    text-align: center;
    color: #515156;
    text-transform: none;
    font-size: 30px;
    font-weight: 400;
    padding: 15px;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ddd;
}

.brf-analysis .fa {
    color: #79b459;
    margin-top: 0.5em;
}

.property-sales-history {
    margin-top: 2em;
    background: #fff;
    overflow-x: hidden;
}

.property-sales-history-header {
    text-align: center;
    color: #515156;
    text-transform: none;
    font-size: 30px;
    font-weight: 400;
    padding: 15px;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ddd;
}

.property-sales-history .fa {
    color: #79b459;
    margin-top: 0.5em;
    transform: rotate(90deg);
}

.property-rating {
    font-weight: 700;
    font-size: 14px;
    padding-top: 1.5em;
}

.property-rating-desc {
    font-style: italic;
    font-size: 13px;
    letter-spacing: 0.02em;
}

.housing-ratings {
    display: table;
    width: 100%;
    table-layout: fixed;
    color: #999;
    font-size: 18px;
    padding-right: 3em;
    margin-bottom: 20px;
    font-weight: 400;
}

.housing-ratings span {
    display: table-cell;
    text-align: center;
}

.focused-rating {
    color: #3ec03c;
    font-size: 25px;
}

.brf-analysis-div {
    text-align: center;
    margin-bottom: 2em;
}

.btn-brf-analysis {
    background-color: transparent;
    color: #4b88f2;
    box-shadow: 0 0 0 1px #4b88f2;
    width: 80%;
}

.property-sales-body {
    margin-top: 2em;
    font-size: 14px;
    padding-bottom: 2em;
    position: relative;
    margin-left: 7em;
    margin-right: 7em;
    border-bottom: 1px solid #ddd;
}

.property-sales-table {
    padding: 1em;
    border-bottom: 1px solid #ddd;
    /* margin-left: 2em; */
    margin-right: 6em;
    letter-spacing: 0.02em;
    line-height: 180%;
}

.similar-sales-nearby {
    padding: 1em;
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 15px;
    line-height: 180%;
    margin-right: 6em;
}

.similar-sales-header {
    padding-top: 1em;
    padding-bottom: 2em;
    color: #aeaea4;
    border-bottom: 1px solid #ddd;
    margin-right: 6em;
}

.similar-sales-body {
    padding-top: 1em;
    padding-bottom: 3.5em;
    /* text-align: left; */
    margin-right: 6em;
    border-bottom: 1px solid #ddd;
}

.similar-sales-body a {
    color: #444;
}

.similar-sales-body:hover {
    background: #d2cdcd;
}

.similar-sales-footer {
    margin-right: 6em;
    padding-top: 2em;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 180%;
}

.address-btn {
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 0px;
    letter-spacing: 0.02em;
}

.broker {
    margin-top: 2em;
    background: #fff;
    overflow-x: hidden;
    margin-bottom: 2em;
}

.broker-header {
    text-align: center;
    color: #515156;
    text-transform: none;
    font-size: 30px;
    font-weight: 400;
    padding: 15px;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ddd;
}

.broker .fa {
    color: #79b459;
    margin-top: 0.5em;
    transform: rotate(90deg);
}

.broker-body {
    margin-left: 7em;
    margin-right: 7em;
}

.broker-name {
    font-size: 14px;
    letter-spacing: 0.02em;
}

.broker-agency {
    color: #444;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.broker-name-para {
    padding-top: 1em;
}

.broker-desc {
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 180%;
}

.sm-div-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

.panel-group .panel {
    margin-bottom: -0.5em;
    border-radius: 0px;
    /* background: #fff; */
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    height: 5em;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content: "\e114";
    float: right;
    color: #3c33f0;
    margin-top: -2em;
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
    /* adjust as needed, taken from bootstrap.css */
}

.accordion-icon {
    padding: 0;
}

.accordion-sm-header {
    text-align: left;
    color: #515156;
    text-transform: none;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
}

.accordion-sm .fa {
    color: #79b459;
    margin-top: 0.5em;
    font-size: 28px;
}

.accordion-sm-footer {
    font-size: 0.8em;
    padding-left: 3em;
}

.resort-fee-sm-body {
    background: #f5f5f5;
    padding-top: 1em;
}

.resort-right-span-sm {
    font-size: 0.85em;
    float: right;
    color: #999;
    font-weight: 400 !important;
}

.input-unit-month-sm {
    transition: opacity .1s linear;
    position: absolute;
    right: 5%;
    bottom: 0.5em;
    pointer-events: none;
    opacity: 1;
    color: #757575;
    font-size: 14px;
}

.resort-chart-sm-padding {
    padding-top: 1em;
    padding-bottom: 1em;
}

.property-sales-body-sm {
    margin-top: 2em;
    font-size: 14px;
    padding-bottom: 2em;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.property-sales-table-sm {
    padding: 1em;
    border-bottom: 1px solid #ddd;
    letter-spacing: 0.02em;
    line-height: 180%;
}

.similar-sales-header-sm {
    padding-top: 1em;
    padding-bottom: 3em;
    color: #aeaea4;
    border-bottom: 1px solid #ddd;
}

.similar-sales-body-sm {
    padding-top: 1em;
    padding-bottom: 4.5em;
    border-bottom: 1px solid #ddd;
}

.similar-sales-body-sm a {
    color: #444;
}

.similar-sales-body-sm:hover {
    background: #d2cdcd;
}

.similar-sales-footer-sm {
    padding-top: 2em;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 180%;
}

@media screen and (max-width: 350px) {
    .accordion-sm-header {
        text-align: left;
        color: #515156;
        text-transform: none;
        font-size: 16px;
        font-weight: 700;
        padding: 0;
    }
}

@media screen and (max-width: 400px) and (min-width: 351px) {
    .accordion-sm-header {
        text-align: left;
        color: #515156;
        text-transform: none;
        font-size: 18px;
        font-weight: 700;
        padding: 0;
    }
}

@media screen and (max-width: 400px) and (min-width: 240px) {
    .similar-sales-body-sm {
        padding-top: 1em;
        padding-bottom: 6em;
        border-bottom: 1px solid #ddd;
    }
}

@media screen and (max-width: 400px) and (min-width: 240px) {
    .nav-title {
        padding-top: 0.7em;
        letter-spacing: 0.02em;
        /* line-height: 180%; */
        font-weight: 400;
        font-size: 14px;
    }
}
