<div id="home-details">
    <div class="home-details-nav">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-10 col-sm-7 col-xs-7 nav-title">
                        {{ homeDetails.address }}
                    </div>
                    <div class="col-md-2 col-sm-5 col-xs-5">
                        <div class="col-md-6 col-sm-6 col-xs-6 property-div-line text-center">
                            <i class="fa fa-star-o property-star"></i>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                            <a [routerLink]="['/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
                                <i class="fa fa-close property-close" title="close"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div id="home-details-body">
        <div class="container">
            <div class="card row">
                <div class="card-header">
                    <div class="header text-center" *ngIf="homeDetails.costType === 'sale'">
                        For Sale
                    </div>
                    <div class="header text-center" *ngIf="homeDetails.costType === 'fixed'">
                        Last Offer
                    </div>
                    <div class="header-title text-center">
                        {{ homeDetails.apartmentNo }}, {{ homeDetails.address }}
                    </div>
                </div>
                <div>
                    <img class="img-responsive card-img" src="{{ homeDetails.imageUrl }}" alt="">
                </div>
                <div class="card-footer">
                    <div class="row div-bottom-padding">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-7 col-sm-12 col-xs-12 card-footer-title">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                                    {{ homeDetails.roomsNo }} rooms, {{ homeDetails.livingArea }} m²
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    {{ homeDetails.totalPrice }} kr
                                </div>
                            </div>
                            <div class="col-md-5 hidden-sm hidden-xs card-property">
                                <div class="col-md-4 card-property-border">
                                    <a href="#">Calculation</a>
                                    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-4 card-property-border">
                                    <a href="#">Save</a>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                        <hr align="center">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <ul class="property-details">
                                    <li>
                                        <span class="property-title">
                                            Square meter price
                                        </span>
                                        <span class="property-desc">
                                            {{ homeDetails.pricePerSqMeter }} kr / m²
                                        </span>
                                    </li>
                                    <li>
                                        <span class="property-title">
                                            Fee
                                        </span>
                                        <span class="property-desc">
                                            {{ homeDetails.rent }} kr / month
                                        </span>
                                    </li>
                                    <li>
                                        <span class="property-title">
                                            Property Type
                                        </span>
                                        <span class="property-desc">
                                            {{ homeDetails.housingType }}
                                        </span>
                                    </li>
                                    <li>
                                        <span class="property-title">
                                            Floor
                                        </span>
                                        <span class="property-desc">
                                            {{ homeDetails.floor }} row
                                        </span>
                                    </li>
                                    <li>
                                        <span class="property-title">

                                            Built in
                                        </span>
                                        <span class="property-desc">
                                            {{ homeDetails.constructionYear }}
                                        </span>
                                    </li>
                                    <li>
                                        <span class="property-title">
                                            Days of Boolean
                                        </span>
                                        <span class="property-desc">
                                            1
                                        </span>
                                    </li>
                                    <li>
                                        <span class="property-title">
                                            Number of pageviews
                                        </span>
                                        <span class="property-desc">
                                            {{ homeDetails.pageView }}
                                        </span>
                                    </li>
                                    <li>
                                        <span class="property-title">
                                            Mobile coverage
                                        </span>
                                        <span class="property-desc">
                                            {{ homeDetails.mobileCoverage }}
                                        </span>
                                    </li>

                                </ul>
                                <div class="property-estimation-sm visible-sm visible-xs">
                                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                                    <div class="prop-indication">
                                        value indication
                                    </div>
                                    <div class="prop-price">
                                        <span>
                                            <strong>5 880 000 kr</strong>
                                        </span>
                                        <span class="small">
                                            76 364 kr / m²
                                        </span>
                                    </div>
                                    <div class="prop-indication">
                                        The valuation has moderate precision
                                    </div>
                                </div>
                                <div class="broker-div">
                                    <button class="btn btn-primary broker-btn">Read more at the broker</button>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                                <div class="property-estimation">
                                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                                    <div class="prop-indication">
                                        value indication
                                    </div>
                                    <div class="prop-price">
                                        <span>
                                            <strong>5 880 000 kr</strong>
                                        </span>
                                        <span class="small">
                                            76 364 kr / m²
                                        </span>
                                    </div>
                                    <div class="prop-indication">
                                        The valuation has moderate precision
                                    </div>
                                </div>
                                <div class="property-sm-map">
                                    <a>
                                        <img src="assets/img/home-detail/google-maps.png" class="img-responsive">
                                    </a>
                                </div>
                                <div class="property-media-object">
                                    <div class="col-md-12 cost-div">
                                        <div class="col-md-2 cost-image">
                                            <img src="assets/img/home-detail/img-1.png" class="img-responsive">
                                        </div>
                                        <div class="col-md-10 cost-calculation">
                                            Make an energy cost calculation!
                                        </div>
                                    </div>
                                    <div class="col-md-12 cost-div">
                                        <div class="col-md-2 cost-image">
                                            <img src="assets/img/home-detail/img-2.png" class="img-responsive">
                                        </div>
                                        <div class="col-md-10 cost-calculation">
                                            Can you get fiber from Telia?
                                            <br>
                                            <a href="#">Read more at telia.se</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
                    <div class="property-media-object-sm">
                        <div class="col-md-12 cost-div-sm">
                            <div class="col-md-2 cost-image-sm">
                                <img src="assets/img/home-detail/img-1.png" class="img-responsive">
                            </div>
                            <div class="col-md-10 cost-calculation-sm">
                                Make an energy cost calculation!
                            </div>
                        </div>
                        <div class="col-md-12 cost-div">
                            <div class="col-md-2 cost-image-sm">
                                <img src="assets/img/home-detail/img-2.png" class="img-responsive">
                            </div>
                            <div class="col-md-10 cost-calculation-sm">
                                Can you get fiber from Telia?
                                <br>
                                <a href="#">Read more at telia.se</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="hidden-sm hidden-xs">
            <div class="container">
                <div class="resort-fee row">
                    <div class="resort-fee-header">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                        Resort fee
                    </div>
                    <div class="resort-fee-body">
                        <div class="resort-body-inner">
                            <div class="col-md-12 chart-section">
                                <div class="col-md-6">
                                    <div class="form-group inner-addon right-addon">
                                        <span class="resort-left-span">
                                            <label for="expected-final-price">Expected final price</label>
                                        </span>
                                        <span class="resort-right-span">
                                            <label for="expected-final-price" class="text-normal">65%</label>
                                        </span>
                                        <input class="controls" type="text" id="expected-final-input">
                                        <span class="input-unit">SEK</span>
                                        <div class="triangle"></div>
                                        <input type="range" min="0" max="150" value="60" class="input-range" />
                                    </div>

                                    <div class="form-group inner-addon right-addon">
                                        <span class="resort-left-span">
                                            <label for="down-payment">DOWN PAYMENT</label>
                                        </span>
                                        <span class="resort-right-span">
                                            <label for="down-payment" class="text-normal">0% of the final price</label>
                                        </span>
                                        <input class="pac-input" class="controls" type="text" id="down-payment">
                                        <span class="input-unit">SEK</span>
                                        <div class="triangle"></div>
                                        <input type="range" min="0" max="150" value="60" class="input-range" />
                                    </div>

                                    <div class="form-group inner-addon right-addon">
                                        <span class="resort-left-span">
                                            <label for="household-tax">Household monthly income before taxes</label>
                                        </span>

                                        <input class="pac-input" class="controls" type="text" id="household-tax">
                                        <span class="input-unit-month">SEK/month</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="household-tax" class="list-interest">List Interest</label>
                                        <select class="form-control controls" id="list-interest">
                                            <option>3 months, 1.59%</option>
                                            <option>1 year, 1.59%</option>
                                            <option>2 years, 1.74%</option>
                                            <option>3 years, 1.99%</option>
                                            <option>4 years, 2.21%</option>
                                            <option>5 years, 2.46%</option>
                                            <option>7 years, 2.59%</option>
                                            <option>10 years, 3.39%</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <img src="assets/img/home-detail/resort-chart.png" class="img-responsive img-center">
                                    </div>
                                    <div>
                                        <a href="#" class="resort-fee-calculation">How have we calculated?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 loan-payment">
                                <p class="payment-text">
                                    Get ready for purchase
                                    <span class="payment-logo"></span>The loan promise shows how much loan you can get.
                                </p>
                                <p class="payment-text">
                                    With BankID, you will receive a response within two minutes!
                                </p>
                                <div class="payment-div">
                                    <button class="btn payment-btn">Get a loan promise directly</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="brf-analysis row">
                    <div class="brf-analysis-header">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        About HSB BRF Turkey in Stockholm
                    </div>
                    <div class="brf-analysis-body">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <ul class="property-details">
                                    <li>
                                        <span class="property-title">
                                            Number of apartments
                                        </span>
                                        <span class="property-desc">
                                            550
                                        </span>
                                    </li>
                                    <li>
                                        <span class="property-title">
                                            Registration year
                                        </span>
                                        <span class="property-desc">
                                            1926
                                        </span>
                                    </li>
                                    <li>
                                        <span class="property-title">
                                            Status
                                        </span>
                                        <span class="property-desc">
                                            Genuine
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="text-left property-rating">
                                    Association rating from allabrf.se
                                    <p class="property-rating-desc">
                                        Highest rating A ++ represents a very good economy. Lowest grade C means that the association has financial difficulties.
                                    </p>
                                    <p class="text-small">
                                        <a href="#">Read more about the association</a>
                                    </p>
                                    <div class="housing-ratings">
                                        <span class="">
                                            C
                                        </span>
                                        <span class="">
                                            B
                                        </span>
                                        <span class="">
                                            A
                                        </span>
                                        <span class="focused-rating">
                                            A +
                                        </span>
                                        <span class="">
                                            A ++
                                        </span>
                                    </div>
                                    <div class="brf-analysis-div">
                                        <a href="#" class="btn btn-brf-analysis">Buy a BRF analysis at allabrf.se</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="property-sales-history row">
                    <div class="property-sales-history-header">
                        <i class="fa fa-tag" aria-hidden="true"></i>
                        The property's sales history
                    </div>
                    <div class="property-sales-body">
                        <div class="property-sales-table">
                            We have no sales history on this item, below are similar sales shown nearby.
                        </div>
                        <div class="similar-sales-nearby">
                            Similar sales nearby
                        </div>

                        <div class="similar-sales-header">
                            <div class="col-md-3">
                                Date
                            </div>
                            <div class="col-md-3">
                                Dwelling
                            </div>
                            <div class="col-md-3">
                                Final price / Last bid
                            </div>
                            <div class="col-md-3">
                                Broker
                            </div>

                        </div>

                        <div class="similar-sales-body">
                            <a href="#">
                                <div class="col-md-3">
                                    December 9, 2015
                                </div>
                                <div class="col-md-3">
                                    Karlsviksgatan 19 2 rooms, 59 m², 2 rooms
                                </div>
                                <div class="col-md-3">
                                    5 020 000 kr (+470 000 kr) 85 812 kr / m²
                                </div>
                                <div class="col-md-3">
                                    Jakob Jakobsson
                                </div>
                            </a>
                        </div>
                        <div class="similar-sales-body">
                            <a href="#">
                                <div class="col-md-3">
                                    December 9, 2015
                                </div>
                                <div class="col-md-3">
                                    Karlsviksgatan 19 2 rooms, 59 m², 2 rooms
                                </div>
                                <div class="col-md-3">
                                    5 020 000 kr (+470 000 kr) 85 812 kr / m²
                                </div>
                                <div class="col-md-3">
                                    Jakob Jakobsson
                                </div>
                            </a>
                        </div>
                        <div class="similar-sales-body">
                            <a href="#">
                                <div class="col-md-3">
                                    December 9, 2015
                                </div>
                                <div class="col-md-3">
                                    Karlsviksgatan 19 2 rooms, 59 m², 2 rooms
                                </div>
                                <div class="col-md-3">
                                    5 020 000 kr (+470 000 kr) 85 812 kr / m²
                                </div>
                                <div class="col-md-3">
                                    Jakob Jakobsson
                                </div>
                            </a>
                        </div>
                        <div class="similar-sales-body">
                            <a href="#">
                                <div class="col-md-3">
                                    December 9, 2015
                                </div>
                                <div class="col-md-3">
                                    Karlsviksgatan 19 2 rooms, 59 m², 2 rooms
                                </div>
                                <div class="col-md-3">
                                    5 020 000 kr (+470 000 kr) 85 812 kr / m²
                                </div>
                                <div class="col-md-3">
                                    Jakob Jakobsson
                                </div>
                            </a>
                        </div>
                        <div class="similar-sales-body">
                            <a href="#">
                                <div class="col-md-3">
                                    December 9, 2015
                                </div>
                                <div class="col-md-3">
                                    Karlsviksgatan 19 2 rooms, 59 m², 2 rooms
                                </div>
                                <div class="col-md-3">
                                    5 020 000 kr (+470 000 kr) 85 812 kr / m²
                                </div>
                                <div class="col-md-3">
                                    Jakob Jakobsson
                                </div>
                            </a>
                        </div>

                        <div class="similar-sales-footer">
                            Want to know more about the apartment's other apartments and see more history?
                            <p>
                                <a href="#" class="btn btn-primary address-btn">To the address page</a>
                            </p>
                        </div>


                    </div>
                </div>
            </div>

            <div class="container">
                <div class="broker row">
                    <div class="broker-header">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        Broker
                    </div>
                    <div class="broker-body">
                        <div class="col-md-6">
                            <p class="broker-name-para">
                                <a href="#" class="broker-name">Lukas Selberg</a>
                            </p>
                            <p>
                                <a href="#" class="broker-agency">Swedish Real Estate Agency</a>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="broker-name-para broker-desc">
                                We help you find brokers who sold well in Kungsholmen.
                                <br> Test our free service where we will help you
                                <a href="#">compare brokers here</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="visible-sm visible-xs">
            <div class="container">
                <div class="row sm-div-margin">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#resort-fee-sm">
                                        <div class="col-sm-12 col-xs-12 accordion-sm row">
                                            <div class="col-sm-2 col-xs-2 accordion-icon">
                                                <i class="fa fa-folder" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-sm-10 col-xs-10 accordion-sm-header row">
                                                Resort fee
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 accordion-sm-footer">
                                            18,895 kr/mo
                                        </div>
                                    </a>
                                </h4>
                            </div>
                            <div id="resort-fee-sm" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-sm-12 col-xs-12 resort-fee-sm-body">
                                        <div class="form-group inner-addon right-addon">
                                            <span class="resort-left-span">
                                                <label for="expected-final-price">Expected final price</label>
                                            </span>
                                            <span class="resort-right-span-sm">
                                                <label for="expected-final-price" class="text-normal">65%</label>
                                            </span>
                                            <input class="controls-sm" type="text" id="expected-final-input-sm">
                                            <span class="input-unit-sm">SEK</span>
                                            <div class="triangle"></div>
                                            <input type="range" min="0" max="150" value="60" class="input-range-sm" />
                                        </div>

                                        <div class="form-group inner-addon right-addon">
                                            <span class="resort-left-span">
                                                <label for="down-payment">DOWN PAYMENT</label>
                                            </span>
                                            <span class="resort-right-span-sm">
                                                <label for="down-payment" class="text-normal">0% of the final price</label>
                                            </span>
                                            <input class="pac-input" class="controls-sm" type="text" id="down-payment-sm">
                                            <span class="input-unit-sm">SEK</span>
                                            <div class="triangle"></div>
                                            <input type="range" min="0" max="150" value="60" class="input-range-sm" />
                                        </div>

                                        <div class="form-group inner-addon right-addon">
                                            <span class="resort-left-span">
                                                <label for="household-tax">Household monthly income before taxes</label>
                                            </span>

                                            <input class="pac-input" class="controls-sm" type="text" id="household-tax-sm">
                                            <span class="input-unit-month-sm">SEK/month</span>
                                        </div>

                                        <div class="form-group inner-addon right-addon">
                                            <label for="household-tax" class="list-interest">List Interest</label>
                                            <select class="form-control controls-sm" id="list-interest-sm">
                                                <option>3 months, 1.59%</option>
                                                <option>1 year, 1.59%</option>
                                                <option>2 years, 1.74%</option>
                                                <option>3 years, 1.99%</option>
                                                <option>4 years, 2.21%</option>
                                                <option>5 years, 2.46%</option>
                                                <option>7 years, 2.59%</option>
                                                <option>10 years, 3.39%</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="resort-chart-sm-padding">
                                            <img src="assets/img/home-detail/resort-chart-sm.png" class="img-responsive img-center">
                                        </div>
                                        <div>
                                            <a href="#" class="resort-fee-calculation">How have we calculated?</a>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-xs-12 loan-payment">
                                        <p class="payment-text">
                                            Get ready for purchase
                                            <span class="payment-logo"></span>The loan promise shows how much loan you can get.
                                        </p>
                                        <p class="payment-text">
                                            With BankID, you will receive a response within two minutes!
                                        </p>
                                        <div class="payment-div">
                                            <button class="btn payment-btn">Get a loan promise directly</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#brf-mulberry">
                                        <div class="col-sm-12 col-xs-12 accordion-sm row">
                                            <div class="col-sm-2 col-xs-2 accordion-icon">
                                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-sm-10 col-xs-10 accordion-sm-header row">
                                                About BRF Mulberry tree
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 accordion-sm-footer">
                                            Rating: Missing
                                        </div>
                                    </a>
                                </h4>
                            </div>
                            <div id="brf-mulberry" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="">
                                        <div class="col-sm-12 col-xs-12 row">
                                            <ul class="property-details-sm">
                                                <li>
                                                    <span class="property-title">
                                                        Number of apartments
                                                    </span>
                                                    <span class="property-desc">
                                                        550
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="property-title">
                                                        Registration year
                                                    </span>
                                                    <span class="property-desc">
                                                        1926
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="property-title">
                                                        Status
                                                    </span>
                                                    <span class="property-desc">
                                                        Genuine
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="text-left property-rating">
                                                Association rating from allabrf.se
                                                <p class="property-rating-desc">
                                                    Highest rating A ++ represents a very good economy. Lowest grade C means that the association has financial difficulties.
                                                </p>
                                                <p class="text-small">
                                                    <a href="#">Read more about the association</a>
                                                </p>
                                                <div class="housing-ratings">
                                                    <span class="">
                                                        C
                                                    </span>
                                                    <span class="">
                                                        B
                                                    </span>
                                                    <span class="">
                                                        A
                                                    </span>
                                                    <span class="focused-rating">
                                                        A +
                                                    </span>
                                                    <span class="">
                                                        A ++
                                                    </span>
                                                </div>
                                                <div class="brf-analysis-div">
                                                    <a href="#" class="btn btn-brf-analysis">Buy a BRF analysis at allabrf.se</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#property-sales">
                                        <div class="col-sm-12 col-xs-12 accordion-sm row">
                                            <div class="col-sm-2 col-xs-2 accordion-icon">
                                                <i class="fa fa-tag" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-sm-10 col-xs-10 accordion-sm-header row">
                                                The property's sales history
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 accordion-sm-footer">
                                            The property has not been sold in the last 6 years
                                        </div>
                                    </a>
                                </h4>
                            </div>
                            <div id="property-sales" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="property-sales-body-sm">
                                        <div class="property-sales-table-sm">
                                            We have no sales history on this item, below are similar sales shown nearby.
                                        </div>
                                        <div class="similar-sales-nearby">
                                            Similar sales nearby
                                        </div>

                                        <div class="similar-sales-header-sm">
                                            <div class="col-sm-4 col-xs-4">
                                                Date
                                            </div>
                                            <div class="col-sm-4 col-xs-4">
                                                Dwelling
                                            </div>
                                            <div class="col-sm-4 col-xs-4">
                                                Final price / Last bid
                                            </div>

                                        </div>

                                        <div class="similar-sales-body-sm">
                                            <a href="#">
                                                <div class="col-sm-4 col-xs-4">
                                                    December 9, 2015
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    Karlsviksgatan 19 2 rooms, 59 m², 2 rooms
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    5 020 000 kr (+470 000 kr) 85 812 kr / m²
                                                </div>
                                            </a>
                                        </div>
                                        <div class="similar-sales-body-sm">
                                            <a href="#">
                                                <div class="col-sm-4 col-xs-4">
                                                    December 9, 2015
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    Karlsviksgatan 19 2 rooms, 59 m², 2 rooms
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    5 020 000 kr (+470 000 kr) 85 812 kr / m²
                                                </div>
                                            </a>
                                        </div>
                                        <div class="similar-sales-body-sm">
                                            <a href="#">
                                                <div class="col-sm-4 col-xs-4">
                                                    December 9, 2015
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    Karlsviksgatan 19 2 rooms, 59 m², 2 rooms
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    5 020 000 kr (+470 000 kr) 85 812 kr / m²
                                                </div>
                                            </a>
                                        </div>
                                        <div class="similar-sales-body-sm">
                                            <a href="#">
                                                <div class="col-sm-4 col-xs-4">
                                                    December 9, 2015
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    Karlsviksgatan 19 2 rooms, 59 m², 2 rooms
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    5 020 000 kr (+470 000 kr) 85 812 kr / m²
                                                </div>
                                            </a>
                                        </div>
                                        <div class="similar-sales-body-sm">
                                            <a href="#">
                                                <div class="col-sm-4 col-xs-4">
                                                    December 9, 2015
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    Karlsviksgatan 19 2 rooms, 59 m², 2 rooms
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    5 020 000 kr (+470 000 kr) 85 812 kr / m²
                                                </div>
                                            </a>
                                        </div>

                                        <div class="similar-sales-footer-sm">
                                            Want to know more about the apartment's other apartments and see more history?
                                            <p>
                                                <a href="#" class="btn btn-primary address-btn">To the address page</a>
                                            </p>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#area-development">
                                        <div class="col-sm-12 col-xs-12 accordion-sm row">
                                            <div class="col-sm-2 col-xs-2 accordion-icon">
                                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-sm-10 col-xs-10 accordion-sm-header row">
                                                Area developemnt
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 accordion-sm-footer">
                                            -6,000 kr/m2 last 6 months
                                        </div>
                                    </a>
                                </h4>
                            </div>
                            <div id="area-development" class="panel-collapse collapse">
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>