h1,
h2,
p {
  font-family: 'Montserrat-Medium', sans-serif;
}

hr {
  height: 2px;
  width: 155px;
  background: #00947c;
  position: relative;
  border: 0;
  margin: 30px 0 0 0;
}

.pimg1 {
  position: relative;
  opacity: 0.90;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('/assets/img/intro/intro-bg.jpg');
  min-height: 100%;
  height: 100vh;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.intro-heading-text {
  background-image: -webkit-linear-gradient(-492deg, rgba(92, 158, 227, .9), rgba(13, 115, 222, .9) 50%, rgba(47, 101, 195, .9));
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
}

.ptext .border.trans {
  background-color: transparent;
}

.main-text {
  padding: 150px 0 0 0;
  text-align: center;
}

.search-div {
  margin-top: 4%;
}

.list-inline {
  display: flex;
  justify-content: center;
}

.left {
  left: 20%;
}

.full-width-tabs>ul.nav.nav-tabs {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.full-width-tabs>ul.nav.nav-tabs>li {
  float: none;
  display: table-cell;
  width: 100%;
}

.full-width-tabs>ul.nav.nav-tabs>li.active>a {
  background-color: #152c55 !important;
  text-align: center;
  color: #fff;
  border-radius: 0 !important;
  padding: 15px;
}

.full-width-tabs>ul.nav.nav-tabs>li>a {
  background-color: none !important;
  text-align: center;
  color: #fff;
  border-radius: 0 !important;
  border: 1px solid #fff;
}

.full-width-tabs>ul.nav.nav-tabs>li>a {
  text-align: center;
  padding: 15px;
}

.full-width-tabs>ul.nav.nav-tabs>li>a:hover {
  background: #3c4563 !important;
}

.li-padding {
  padding: 0px !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 50px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
}

#pac-input {
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 4%;
  padding: 30px;
  color: #000;
  /* position: relative; */
}

#pac-input:focus {
  border-color: #4d90fe;
}

.inner-addon {
  position: relative;
}

/* style glyph */

.inner-addon .fa {
  position: absolute;
  /* padding: 45px 15px 10px; */
  cursor: pointer;
  font-size: 25px;
  color: #4d90fe;
  position: absolute;
  z-index: 2;
}

.right-addon .fa {
  right: 2%;
  top: 50%;
}

.right-addon input {
  border-radius: 0 !important;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #fff;
  position: absolute;
}

.triangle-up-sale {
  margin-top: 1.8%;
  margin-left: 20%;
}

.triangle-up-fixed {
  margin-top: 1.8%;
  margin-right: 25%;
  right: 0;
}

.marker-search {
  position: absolute;
  right: -9% !important;
  margin-top: -11.3% !important;
  background: #deac4d;
  font-size: 30px;
  color: #fff;
  padding: 15px 20px 15px 20px;
  border-radius: 2px;
  cursor: pointer;
}

.search-span-text {
  letter-spacing: 0.02em;
  line-height: 180%;
}

#sell-buy {
  /* height: 100vh; */
  background: #ededed;
  padding: 50px 0 50px 0;
}

.sell-buy-div-margin {
  margin-top: 50px;
}

.sell-buy-heading {
  font-size: 36px;
  /* padding: 45px; */
  letter-spacing: 0.02em;
  font-weight: 600;
  text-align: center;
  /* margin-top: 20px; */
}

.sell-buy-heading p {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 20px;
  margin: 0;
  border-bottom: 2px dashed #4d90fe;
}

.card {
  background: #FFF;
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  overflow: hidden;
  min-height: 350px;
  margin-bottom: 20px;
}

.card-body {
  margin: 1em;
  font-size: 14px;
}

.card-header {
  width: 100%;
  color: #2196F3;
  padding: 0px;
  margin-top: 0px;
  overflow: hidden;
}

.card-p {
  letter-spacing: 0.02em;
  line-height: 180%;
  text-align: left;
}

.card-p .fa {
  color: #4d90fe;
}

.card-header-blue {
  background-color: #2196F3;
  color: #FFFFFF;
  padding: 0px;
  margin-top: 0px;
  overflow: hidden;
  text-align: center;
}

.card-heading {
  display: block;
  font-size: 16px;
  border-bottom: 1px #2196F3;
  color: #fff;
  text-align: center;
  margin-top: 0.5em;
}

.card-header-blue .fa {
  padding-top: 20px;
  font-size: 20px;
}