<div id="home" class="pimg1">
  <div class="intro-heading-text">
    <div class="main-text">
      <h1>All homes under the same roof</h1>
    </div>

    <div class="container search-div">
      <div class="col-md-offset-3 col-md-7">

        <div class="tabbable full-width-tabs">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#tab-one" data-toggle="tab">For sale</a>
            </li>
            <li>
              <a href="#tab-two" data-toggle="tab">Final price</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-one">
              <div class="form-group inner-addon right-addon">
                <div class="triangle-up triangle-up-sale"></div>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input id="pac-input" class="controls" type="text" placeholder="Search area">
              </div>
              <div class="hidden-sm hidden-xs">
                <i class="fa fa-map-marker marker-search" aria-hidden="true"></i>
              </div>
            </div>
            <div class="tab-pane" id="tab-two">
              <div class="form-group inner-addon right-addon">
                <div class="triangle-up triangle-up-fixed"></div>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input id="pac-input" class="controls" type="text" placeholder="Search area">
              </div>
              <div class="hidden-sm hidden-xs">
                <i class="fa fa-map-marker marker-search" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="container">
      <div class="col-md-offset-3 col-md-7">
        <i class="fa fa-bell"></i>
        <span class="search-span-text">Saved searches</span>
      </div>
      <div class="col-md-offset-3 col-md-7 search-span-text">
        You have no saved searches login or create an account
      </div>

    </div>

  </div>
</div>

<div id="sell-buy">
  <div class="container">
    <div class="col-md-12 sell-buy-heading">
      Sell ​​or buy?
      <p>
        Booli helps you all the way
      </p>
    </div>
    <div class="col-md-12 sell-buy-div-margin">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-content">
            <div class="card-header-blue">
              <i class="fa fa-search"></i>
              <p class="card-heading">1. Make the right decision</p>
            </div>
            <div class="card-body">
              <p class="card-p">
                Get stuck in the housing market. At our homes for sale you will see price developments in the area, value indication and
                most final prices.
              </p>
              <p class="card-p">
                <span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
                <span>
                  <a href="#">Homes for sale</a>
                </span>
              </p>
              <p class="card-p">
                <span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
                <span>
                  <a href="#">Direct to final prices</a>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-content">
            <div class="card-header-blue">
              <i class="fa fa-search"></i>
              <p class="card-heading">2. Rate your home</p>
            </div>
            <div class="card-body">
              <p class="card-p">
                Knowing the value of your home gives you more control over your housing situation. Make your valuation fast, easy and free!
              </p>
              <p class="card-p">
                <span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
                <span>
                  <a href="#">Rate your home</a>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-content">
            <div class="card-header-blue">
              <i class="fa fa-search"></i>
              <p class="card-heading">3. Find a broker</p>
            </div>
            <div class="card-body">
              <p class="card-p">
                Get help with finding brokers right. Key in where you live and we match you with the best brokers in your area.
              </p>
              <p class="card-p">
                <span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
                <span>
                  <a href="#">Find your broker</a>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-content">
            <div class="card-header-blue">
              <i class="fa fa-search"></i>
              <p class="card-heading">4. Obtain a loan grant</p>
            </div>
            <div class="card-body">
              <p class="card-p">
                Want to know how much you can borrow and what interest? Be sure to be ready for viewing together with SBAB.
              </p>
              <p class="card-p">
                <span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
                <span>
                  <a href="#">Obtain a loan grant</a>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>