a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 26px;
}

#search {
  /* height: 100vh; */
  padding-top: 3.5em;
}

.custom-input {
  border-radius: 0;
  width: 100%;
}

#search-sm {
  padding-top: 4em;
  overflow-x: hidden;
}

.form-grp-sm {
  width: 100%;
}

.background {
  background: #ededed;
}

.search-field {
  font-size: 14px;
  line-height: 1.625em;
  background: #ededed;
  padding-top: 1em;
  /* padding-bottom: 1%; */
}

.nav-form {
  margin-top: 0px !important;
}

.map-height {
  height: 500px;
}

.page-height {
  height: 80vh;
  overflow: hidden;
}

.inner-addon {
  position: relative;
  width: 100%;
}

/* style glyph */

.inner-addon .fa {
  position: absolute;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
}

.right-addon .fa {
  right: 0px;
}

.right-addon input {
  width: 35em;
  border-radius: 0 !important;
}

.search-input-sm {
  border-radius: 0 !important;
}

.inner-addon-sm {
  position: absolute;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  right: 3% !important;
}

.btn-sm-width {
  width: 100%;
}

.input-button-sm {
  margin-bottom: 1em;
}

.mouse-cursor {
  height: 160vh;
  cursor: zoom-out;
}

.search-btn {
  color: #fff;
  border-radius: 0px !important;
  margin-left: 1%;
  /* margin-right: 1%; */
  font-size: 16px;
  padding: 0 30px 0 30px;
  margin-top: 0.25%;
  letter-spacing: 0.02em;
  background: #74b75c !important;
  border: 1px solid #74b75c;
}

.filter-btn-fa {
  padding-right: 10px;
}

.shortlist-btn-fa {
  padding-right: 10px;
}

.filter-div-padding {
  padding-bottom: 15px;
}

.full-width-map {
  margin-right: -30px;
}

.tab-menu {
  width: 45%;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #000;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  background: #fff;
  cursor: default;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs>li>a:hover {
  background: #fff;
  cursor: pointer;
  font-weight: 700;
}

.sales-tab {
  overflow-y: scroll;
  height: 60vh;
  overflow-x: hidden;
  z-index: 1;
  position: relative;
}

.tab-info {
  padding: 16px 12px;
  font-size: 13px;
  letter-spacing: 0.02em;
  padding-left: 0;
}

.sales-more-info {
  font-size: 13px;
}

.sales-more-info:hover {
  text-decoration: none;
  color: #337ab7;
}

.sales-more-info:after {
  text-decoration: none !important;
  color: #337ab7;
}

.sales-more-info-heading {
  font-size: 20px;
}

.bg-sales-item {
  background: #ededed;
  padding: 5px 10px 5px 30px;
  font-size: 13px;
  font-weight: 500;
  margin-left: -30px;
  margin-right: -15px;
  letter-spacing: 0.02em;
  z-index: 1;
  position: relative;
}

.listing-image {
  border-bottom: 1px solid #ddd;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 0%;
}

.listing-price {
  font-size: 14px;
  font-weight: 700;
  color: #5d5a5a;
}

.listing-title {
  font-size: 14px;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: -10px;
  letter-spacing: 0.02em;
  line-height: 160%;
  color: #5d5a5a;
}

.listing-desc {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: -10px;
  letter-spacing: 0.02em;
  line-height: 160%;
  color: #675f5f;
}

.listing-address {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 160%;
  color: #675f5f;
}

.listing-sq-mt-price {
  color: #675f5f;
  font-size: 13px;
  padding-top: 5px;
}

.search-div {
  position: absolute;
  width: 100%;
  height: 89vh;
  background: #fff;
  margin-left: -30px;
  z-index: 2;
  margin-top: -1.5%;
}

.max-width-div {
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .03), 0 1px 4px rgba(0, 0, 0, .03);
}

.filter-clear-btn {
  color: #c5bebe;
  border-radius: 0px !important;
  margin-left: 1%;
  font-size: 16px;
  padding: 15px 35px 35px 35px;
  margin-top: 0.25%;
  letter-spacing: 0.02em;
  background: none !important;
  border: 1px solid #74b75c;
}

.filter-search-btn {
  color: #fff;
  border-radius: 0px !important;
  margin-left: 1%;
  font-size: 16px;
  padding: 15px 35px 35px 35px;
  margin-top: 0.25%;
  letter-spacing: 0.02em;
  background: #74b75c !important;
  border: 1px solid #74b75c;
}

.filter-search-heading {
  font-size: 24px;
  color: #6a6a6a;
}

.filter-category {
  font-size: 18px;
  color: #6a6a6a;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.listing-div:hover {
  background: #f2f2f2;
  margin-top: 0 !important;
}

.checkbox {
  padding-left: 0px;
  padding-right: 10px;
}

.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  font-size: 13px;
  letter-spacing: 0.02em;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox input[type="checkbox"]:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
  font-size: 15px;
}

.checkbox input[type="checkbox"]:disabled+label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: -15px;
  margin-bottom: 15px;
}

.select-size input {
  display: none;
}

.select-size label {
  width: 45px;
  height: 45px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 45px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  color: #4b88f2;
  float: left;
}

.select-size-sm input {
  display: none;
}

.select-size-sm label {
  width: 55px;
  height: 45px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 45px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  color: #4b88f2;
  float: left;
}

#one:checked~label[for="one"],
#two:checked~label[for="two"],
#three:checked~label[for="three"],
#four:checked~label[for="four"],
#fiveplus:checked~label[for="fiveplus"] {
  background: #6e87e7;
  color: #fff;
}

.living-area-input {
  width: 150px;
  border-radius: 0px !important;
}

.fee-slider {
  margin-top: -1%;
}

.max-fee-div {
  margin-top: 25px;
}

.form-check {
  color: #6a6a6a;
  padding-bottom: 5px;
}

input[type="radio"] {
  position: absolute;
  right: 9000px;
}

input[type="radio"]+.label-text:before {
  content: "\f10c";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
}

input[type="radio"]:checked+.label-text:before {
  content: "\f192";
  color: #8e44ad;
  animation: effect 250ms ease-in;
}

input[type="radio"]:disabled+.label-text {
  color: #aaa;
}

input[type="radio"]:disabled+.label-text:before {
  content: "\f111";
  color: #ccc;
}

/*Radio Toggle*/

.toggle input[type="radio"]+.label-text:before {
  content: "\f204";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 10px;
}

.toggle input[type="radio"]:checked+.label-text:before {
  content: "\f205";
  color: #16a085;
  animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled+.label-text {
  color: #aaa;
}

.toggle input[type="radio"]:disabled+.label-text:before {
  content: "\f204";
  color: #ccc;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: #fff;
  opacity: 0.97 !important;
}

.modal-content {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px !important;
  background: #fff;
  opacity: 1;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
}

.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
}

.modal-backdrop {
  background: #fff;
  opacity: 1;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  color: #00947c;
  font-size: 20px;
  font-weight: 400;
  border: 0;
  background: #fff !important;
  outline: none !important;
}

.modal-header-text {
  padding-top: 5px;
  letter-spacing: 0.02em;
  text-align: center;
}

.modal-body-text {
  font-size: 13px;
  text-align: justify;
  letter-spacing: 0.02em;
  line-height: 160%;
}

.modal-label {
  padding: 20px;
}

.modal-button-css {
  color: #fff;
  border-radius: 0px !important;
  margin-left: 30%;
  font-size: 15px;
  padding: 10px 30px 10px 30px;
  margin-top: 1%;
  margin-bottom: 10%;
  letter-spacing: 0.02em;
  background: #74b75c !important;
  border: 1px solid #74b75c;
}

.map-info-tooltip {
  position: absolute;
  bottom: 0% !important;
  left: 10%;
  right: 10%;
  background: #fff;
  width: 65%;
  height: auto;
}

.map-info-header {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 180%;
  border-bottom: 1px solid #ddd;
}

.map-info-body {
  padding: 10px 0 0 0;
}

.map-close-icon {
  float: right;
  font-size: 16px;
  cursor: pointer;
}

.map-tooltip-body-span {
  margin-top: 20% !important;
  margin-left: -5%;
  font-size: 14px;
  letter-spacing: 0.02em;
  position: absolute;
}

.map-tooltip-button {
  color: #fff;
  border-radius: 0px !important;
  font-size: 13px;
  letter-spacing: 0.03em;
  background: #74b75c !important;
  border: 1px solid #74b75c;
  margin-top: 15% !important;
  margin-left: -25%;
  font-size: 13px;
  letter-spacing: 0.02em;
}

.map-info-legend {
  position: absolute;
  top: 4% !important;
  right: 0%;
  background: #fff;
  width: 20%;
  height: 30vh;
  opacity: 0.85;
}

.map-legend-header {
  padding: 15px;
  font-size: 14px;
  color: #505050;
  font-weight: 500;
}

.map-legend-body {
  font-size: 12px;
  /* padding-top: 5px; */
}

.map-legend-title {
  padding-top: 1px;
}

.map-ul-padding {
  margin: 0 !important;
  padding: 0;
}

.map-legend-img {
  padding-left: 5px;
}

.map-li-padding {
  padding-bottom: 5px;
}

.sort-link {
  float: right;
  font-size: 12px;
}

.sort-div-info {
  position: absolute;
  z-index: 2;
  background: #fff;
  margin-left: -2em;
  position: absolute;
  z-index: 2;
  background: #fff;
  width: 107.5%;
}

.search-sort {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 66vh;
  margin-top: 10px;
}

.li-margin {
  padding: 1em;
  border-top: 1px solid #ddd;
  font-size: 14px;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-top: 0 !important;
  padding-left: 1.5em !important;
}

.li-margin:hover {
  background: #ddd;
}

.search-div-sm {
  position: absolute;
  /* width: 100%; */
  background: #fff;
  z-index: 2;
  /* padding-top: 5%; */
  overflow-x: hidden;
}

.filter-clear-btn-sm {
  color: #c5bebe;
  border-radius: 0px !important;
  font-size: 14px;
  letter-spacing: 0.02em;
  background: none !important;
  border: 1px solid #74b75c;
}

.filter-search-btn-sm {
  color: #fff;
  border-radius: 0px !important;
  font-size: 14px;
  letter-spacing: 0.02em;
  background: #74b75c !important;
  border: 1px solid #74b75c;
}

.filter-search-sm {
  font-size: 14px;
  letter-spacing: 0.02em;
  padding-top: 10px;
}

.filter-category-sm {
  font-size: 18px;
  color: #6a6a6a;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.living-area-input-sm {
  width: 100px;
  border-radius: 0px !important;
}

.fee-slider-sm {
  margin-top: -5%;
}

.filter-sm-heading {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.property-padding-sm {
  padding-top: 10px;
}

.li-checked:before {
  content: '\2714';
  font-size: 20px;
  color: #8bae6b;
}

.li-checked:after {
  content: "";
}