<div id="search" class="hidden-sm hidden-xs">
  <div class="col-md-12 search-field ">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <form class="navbar-form nav-form" [formGroup]="searchForm">
        <div class="form-group inner-addon right-addon">
          <i class="fa fa-search" aria-hidden="true"></i>
          <!-- <input type="text" placeholder="Search" class="form-control input-lg" id="find-home" data-role="tagsinput" #search> -->
          <custom-taginput class="form-control input-lg custom-input" (emitTagsChanged)="onTagsChanged($event)" [removeLastOnBackspace]="removeLastOnBackspace"
            [(ngModel)]="tags" [ngModelOptions]="{standalone: true}" name="tags"></custom-taginput>
        </div>
      </form>
    </div>
    <div class="col-md-5">
      <button class="btn btn-lg search-btn" (click)="clickFilterDiv()">
        <i class="fa fa-bars filter-btn-fa" aria-hidden="true"></i>Filter</button>
      <button class="btn btn-lg search-btn" data-toggle="modal" data-target="#shortlist-modal">
        <i class="fa fa-bell shortlist-btn-fa" aria-hidden="true"></i>Shortlist</button>
    </div>

    <div class="modal fade" id="shortlist-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <i class="fa fa-close"></i>
                <!-- <span class="sr-only">Close</span> -->

              </button>
              <h4 class="modal-title modal-header-text" id="myModalLabel">Monitor the search</h4>

            </div>
            <div class="modal-body modal-body-text">Monitor the search and make sure you do not miss anything. We will send you an email when new homes arrive.</div>
            <div>
              <form>
                <div class="form-group">
                  <label class="text-center modal-body-text modal-label" for="sel1">Deliver by email</label>
                  <select class="form-control" id="sel1">
                    <option>1 time/day</option>
                    <option>1 time/week</option>
                    <option>1 time/month</option>
                  </select>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default modal-button-css">Create Monitoring</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="search-div" *ngIf="showFilterDiv">
      <div class="col-md-12">
        <div class="col-md-2 mouse-cursor" (click)="closeFilterDiv()">
        </div>

        <div class="col-md-8 max-width-div">
          <div class="col-md-12">
            <div class="col-md-5">
              <h2 class="text-center filter-search-heading">Filter search</h2>
            </div>
            <div class="col-md-7 text-center">
              <button class="btn btn-lg filter-clear-btn">Clear</button>
              <button class="btn btn-lg filter-search-btn">Search</button>
            </div>
          </div>

          <div class="col-md-12">
            <div class="filter-category">Property</div>
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1">
              <label for="inlineCheckbox1">Apartment</label>
            </div>
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option1">
              <label for="inlineCheckbox2">Villa</label>
            </div>
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option1">
              <label for="inlineCheckbox3">Pair/Line/Detached House</label>
            </div>
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox4" value="option1">
              <label for="inlineCheckbox3">Vacation</label>
            </div>
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox5" value="option1">
              <label for="inlineCheckbox3">Courtyard</label>
            </div>
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox6" value="option1">
              <label for="inlineCheckbox3">Plot/Land</label>
            </div>

          </div>

          <div class="col-md-12 filter-div-padding">
            <div class="col-md-6 row">
              <div class="filter-category">Room</div>
              <div class="select-size">
                <input type="checkbox" name="s-size" id="one" />
                <label for="one">1</label>
                <input type="checkbox" name="s-size" id="two" />
                <label for="two">2</label>
                <input type="checkbox" name="s-size" id="three" />
                <label for="three">3</label>
                <input type="checkbox" name="s-size" id="four" />
                <label for="four">4</label>
                <input type="checkbox" name="s-size" id="fiveplus" />
                <label for="fiveplus">5+</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="filter-category">Living Area</div>
              <div class="col-md-6 row">
                <div class="form-group">
                  <input type="text" class="form-control input-lg living-area-input" id="min-living-area" placeholder="Min">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control input-lg living-area-input" id="max-living-area" placeholder="Max">
                </div>
              </div>

            </div>


          </div>

          <div class="col-md-12 filter-div-padding">
            <div class="col-md-6 row">
              <div class="filter-category">Price</div>
              <div class="col-md-6 row">
                <div class="form-group">
                  <input type="text" class="form-control input-lg living-area-input" id="min-price" placeholder="Min">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control input-lg living-area-input" id="max-price" placeholder="Max">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="filter-category">Maximum fee</div>
              <input type="range" min="1" max="100" value="50" class="slider fee-slider" id="myRange">

            </div>


          </div>

          <div class="col-md-12 filter-div-padding">
            <div class="col-md-6 row">
              <div class="filter-category">Square Meters Price</div>
              <div class="col-md-6 row">
                <div class="form-group">
                  <input type="text" class="form-control input-lg living-area-input" id="min-sq-mt-price" placeholder="Min">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control input-lg living-area-input" id="max-sq-mt-price" placeholder="Max">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="filter-category">Lot Size</div>
              <div class="col-md-6 row">
                <div class="form-group">
                  <input type="text" class="form-control input-lg living-area-input" id="min-lot-size" placeholder="Min">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control input-lg living-area-input" id="max-lot-size" placeholder="Max">
                </div>
              </div>

            </div>


          </div>

          <div class="col-md-12 filter-div-padding">
            <div class="col-md-6 row">
              <div class="filter-category">Year built</div>
              <div class="col-md-6 row">
                <div class="form-group">
                  <input type="text" class="form-control input-lg living-area-input" id="year-from" placeholder="From">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control input-lg living-area-input" id="year-to" placeholder="Till">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="filter-category">Distance to water</div>
              <input type="range" min="1" max="100" value="50" class="slider fee-slider" id="myRange">

            </div>


          </div>

          <div class="col-md-12 filter-div-padding">
            <div class="col-md-6 row">
              <div class="filter-category">New Developments</div>
              <div class="form-check">
                <label>
                  <input type="radio" name="development" checked>
                  <span class="label-text">View all</span>
                </label>
              </div>
              <div class="form-check">
                <label>
                  <input type="radio" name="development">
                  <span class="label-text">Hide new production</span>
                </label>
              </div>
              <div class="form-check">
                <label>
                  <input type="radio" name="development">
                  <span class="label-text">Show only new production</span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="filter-category">Soon for sale</div>
              <div class="form-check">
                <label>
                  <input type="radio" name="soonforsale" checked>
                  <span class="label-text">Hide soon for sale</span>
                </label>
              </div>
              <div class="form-check">
                <label>
                  <input type="radio" name="soonforsale">
                  <span class="label-text">View soon for sale</span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-12 filter-div-padding">
            <div class="col-md-6 row">
              <div class="filter-category">Discounted housing</div>
              <div class="form-check">
                <label>
                  <input type="radio" name="discounthousing" checked>
                  <span class="label-text">View all</span>
                </label>
              </div>
              <div class="form-check">
                <label>
                  <input type="radio" name="discounthousing">
                  <span class="label-text">Show only price reduced</span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="col-md-5">
              <!-- <h2 class="text-center filter-search-heading">Filter search</h2> -->
            </div>
            <div class="col-md-7 text-center">
              <button class="btn btn-lg filter-clear-btn">Clear</button>
              <button class="btn btn-lg filter-search-btn">Search</button>
            </div>
          </div>

          <div class="col-md-2"></div>
        </div>

        <div class="col-md-2 mouse-cursor" (click)="closeFilterDiv()">

        </div>

      </div>
    </div>
  </div>

  <div class="col-md-12 page-height">
    <div class="col-md-5">
      <div class="row">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active tab-menu">
            <a href="#for-sale" aria-controls="for-sale" role="tab" data-toggle="tab" (click)="setSalesTabTrue()">For Sale</a>
          </li>
          <li role="presentation" class="tab-menu">
            <a href="#fixed-price" aria-controls="fixed-price" role="tab" data-toggle="tab" (click)="setFixedPriceTabTrue()">Fixed Price</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div *ngIf="isSalesTabSelected" role="tabpanel" class="tab-pane active" id="for-sale">
            <div class="tab-info">
              Find accommodation in Gothenburg. 2269 homes for sale.
              <a href="#more-info-sale" class="sales-more-info" data-toggle="collapse" (click)="isInfoTextClicked()">{{ infoText }}</a>
              <a href="#sort-div-sale" class="sort-link" data-toggle="collapse" #sortInput>Sorting: {{ orderVariable }}</a>
              <!-- <a href="#sort-div" class="sort-link" data-toggle="collapse">Sorting: Newest</a> -->
              <div id="more-info-sale" class="collapse">
                <h2 class="sales-more-info-heading">Homes for sale in the municipality of Gothenburg</h2>
                <p class="text-small text-justified">
                  The municipality of Gothenburg is an area in Västra Götaland County. Here is currently availablehomes for sale and average
                  rental price is 3 526 240 kr . It takes 31 days on average to sell a home and 179 sellers have chosen to
                  lower their bid price.
                </p>
              </div>
              <div id="sort-div-sale" class="collapse sort-div-info ">
                <ul class="search-sort">
                  <li class="li-margin" [ngClass]="isSelected('publishedDate',false)" (click)="sortBy('publishedDate',false)">
                    <span>Newest</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('publishedDate',true)" (click)="sortBy('publishedDate',true)">
                    <span>Oldest</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('address',false)" (click)="sortBy('address',false)">
                    <span>Address (A-Z)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('address',true)" (click)="sortBy('address',true)">
                    <span>Address Z-A)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('totalPrice',true)" (click)="sortBy('totalPrice',true)">
                    <span>Price (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('totalPrice',false)" (click)="sortBy('totalPrice',false)">
                    <span>Price (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('pricePerSqMeter',false)" (click)="sortBy('pricePerSqMeter',false)">
                    <span>Sqmprice (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('pricePerSqMeter',true)" (click)="sortBy('pricePerSqMeter',true)">
                    <span>Sqmprice (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('expense',false)" (click)="sortBy('expense',false)">
                    <span>Accommodation cost (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('expense',true)" (click)="sortBy('expense',true)">
                    <span>Accommodation cost (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('priceChange',false)" (click)="sortBy('priceChange',false)">
                    <span>Price change (up)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('priceChange',true)" (click)="sortBy('priceChange',true)">
                    <span>Price change (down)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('rent',true)" (click)="sortBy('rent',true)">
                    <span>Fee (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('livingArea',true)" (click)="sortBy('livingArea',true)">
                    <span>Living Space (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('livingArea',false)" (click)="sortBy('livingArea',false)">
                    <span>Living space (largest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('roomsNo',true)" (click)="sortBy('roomsNo',true)">
                    <span>Empty (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('roomsNo',false)" (click)="sortBy('roomsNo',false)">
                    <span>Rooms (most)</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bg-sales-item">
              Arrived today
            </div>
            <div class="row sales-tab">
              <ul>
                <li *ngFor="let m of saleHomes  | orderBy:orderVariable:reverseVariable:'case-insensitive':customDateComparator | paginate: { itemsPerPage: 10, currentPage: p }"
                  (mouseenter)="hoverMarker(m)" (mouseleave)="removeHoverMarker(m)" class="row listing-div">
                  <a [routerLink]="['/home-detail']" [queryParams]="{ id: m.id }" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
                    <div class="col-md-12 listing-image">
                      <div class="col-md-5">
                        <img src="{{ m.imageUrl }}" class="img-responsive">
                      </div>
                      <div class="col-md-7">
                        <div class="col-md-7">
                          <div>
                            <p class="listing-title">
                              {{ m.apartmentNo }}
                            </p>
                            <p class="listing-desc">
                              {{ m.roomsNo }} rooms, {{ m.livingArea }} m
                              <sup>2</sup>
                            </p>
                            <p class="listing-address">
                              {{ m.address }}
                            </p>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <p class="listing-price">
                            {{ m.totalPrice }} USD
                          </p>
                          <p class="listing-sq-mt-price">
                            {{ m.pricePerSqMeter }} USD/m
                            <sup>2</sup>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
          <div *ngIf="isFixedPriceTabSelected" role="tabpanel" class="tab-pane" id="fixed-price">
            <div class="tab-info">
              Find accommodation in Gothenburg. 2269 homes for sale.
              <a href="#more-info-fixedPrice" class="sales-more-info" data-toggle="collapse" (click)="isInforDivForFixedPriceClicked()">{{ infoTextFixedPrice }}</a>
              <a href="#sort-div-fixedprice" class="sort-link" data-toggle="collapse" #sortInput>Sorting: {{ orderVariable }}</a>
              <div id="more-info-fixedPrice" class="collapse">
                <h2 class="sales-more-info-heading">Homes for sale in the municipality of Gothenburg</h2>
                <p class="text-small text-justified">
                  The municipality of Gothenburg is an area in Västra Götaland County. Here is currently availablehomes for sale and average
                  rental price is 3 526 240 kr . It takes 31 days on average to sell a home and 179 sellers have chosen to
                  lower their bid price.
                </p>
              </div>

              <div id="sort-div-fixedprice" class="collapse sort-div-info ">
                <ul class="search-sort">
                  <li class="li-margin" [ngClass]="isSelected('publishedDate',false)" (click)="sortBy('publishedDate',false)">
                    <span>Newest</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('publishedDate',true)" (click)="sortBy('publishedDate',true)">
                    <span>Oldest</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('address',false)" (click)="sortBy('address',false)">
                    <span>Address (A-Z)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('address',true)" (click)="sortBy('address',true)">
                    <span>Address Z-A)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('totalPrice',true)" (click)="sortBy('totalPrice',true)">
                    <span>Price (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('totalPrice',false)" (click)="sortBy('totalPrice',false)">
                    <span>Price (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('pricePerSqMeter',false)" (click)="sortBy('pricePerSqMeter',false)">
                    <span>Sqmprice (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('pricePerSqMeter',true)" (click)="sortBy('pricePerSqMeter',true)">
                    <span>Sqmprice (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('expense',false)" (click)="sortBy('expense',false)">
                    <span>Accommodation cost (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('expense',true)" (click)="sortBy('expense',true)">
                    <span>Accommodation cost (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('priceChange',false)" (click)="sortBy('priceChange',false)">
                    <span>Price change (up)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('priceChange',true)" (click)="sortBy('priceChange',true)">
                    <span>Price change (down)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('rent',true)" (click)="sortBy('rent',true)">
                    <span>Fee (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('livingArea',true)" (click)="sortBy('livingArea',true)">
                    <span>Living Space (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('livingArea',false)" (click)="sortBy('livingArea',false)">
                    <span>Living space (largest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('roomsNo',true)" (click)="sortBy('roomsNo',true)">
                    <span>Empty (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('roomsNo',false)" (click)="sortBy('roomsNo',false)">
                    <span>Rooms (most)</span>
                  </li>
                </ul>
              </div>

            </div>
            <div class="bg-sales-item">
              Arrived today
            </div>
            <div class="row sales-tab">
              <ul>
                <li *ngFor="let m of fixedPriceHomes  | orderBy:orderVariable:reverseVariable:'case-insensitive':customDateComparator | paginate: { itemsPerPage: 10, currentPage: f }"
                  (mouseenter)="hoverMarker(m)" (mouseleave)="removeHoverMarker(m)" class="row listing-div">
                  <a [routerLink]="['/home-detail']" [queryParams]="{ id: m.id }" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
                    <div class="col-md-12 listing-image">
                      <div class="col-md-5">
                        <img src="{{ m.imageUrl }}" class="img-responsive">
                      </div>
                      <div class="col-md-7">
                        <div class="col-md-7">
                          <div>
                            <p class="listing-title">
                              {{ m.apartmentNo }}
                            </p>
                            <p class="listing-desc">
                              {{ m.roomsNo }} rooms, {{ m.livingArea }} m
                              <sup>2</sup>
                            </p>
                            <p class="listing-address">
                              {{ m.address }}
                            </p>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <p class="listing-price">
                            {{ m.totalPrice }} USD
                          </p>
                          <p class="listing-sq-mt-price">
                            {{ m.pricePerSqMeter }} USD/m
                            <sup>2</sup>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <pagination-controls (pageChange)="f = $event"></pagination-controls>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-7 hidden-sm hidden-xs">
      <div class="full-width-map">
        <agm-map style="height:80vh" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker *ngFor="let m of ratedHomes" (markerClick)="showMarkerInfo(m)" [latitude]="m.latitude" [longitude]="m.longitude"
            [iconUrl]=" findIconUrl(m)" [zIndex]="findZindex(m)"></agm-marker>
          <!--<agm-polygon *ngFor="let p of pathsList" [fillColor]="'#FFC0CB'" [fillOpacity]="0.3" [paths]="p.paths" [strokeColor]="'#000000'"
                [strokeOpacity]="0.6" [strokeWeight]="2" [visible]="true" [zIndex]="1">
              </agm-polygon> -->
          <agm-data-layer *ngIf="doMasking" [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc">
          </agm-data-layer>
        </agm-map>


        <div class="map-info-tooltip" *ngIf="markerInfoVisible">
          <div class="map-info-header">
            <span>
              {{ mapTooltip.heading }}
            </span>
            <span class="map-close-icon" (click)="hideMapTooltip()">
              <i class="fa fa-close"></i>
            </span>
          </div>
          <div class="map-info-body row">
            <div class="col-md-12">
              <div class="col-md-4">
                <img src="{{ mapTooltip.imageURL }}" class="img-responsive" />
              </div>
              <div class="col-md-4">
                <span class="map-tooltip-body-span">New Production</span>
              </div>
              <div class="col-md-4">
                <button class="btn map-tooltip-button">Read more at Riksbyggan</button>
              </div>
            </div>
          </div>
        </div>

        <div class="map-info-legend">
          <div class="map-legend-header">
            <span>Map icons</span>
            <span class="map-close-icon">
              <i class="fa fa-close"></i>
            </span>
          </div>
          <div class="map-legend-body">
            <div class="col-md-12 row">

              <ul class="map-ul-padding">
                <li class="map-li-padding">
                  <span class="map-legend-img">
                    <img src="assets/img/marker/newdevelopments.png">
                  </span>
                  <span class="map-legend-title">New Development</span>
                </li>

                <li class="map-li-padding">
                  <span class="map-legend-img">
                    <img src="assets/img/marker/sale.png">
                  </span>
                  <span class="map-legend-title">Sale</span>
                </li>

                <li class="map-li-padding">
                  <span class="map-legend-img">
                    <img src="assets/img/marker/fixed.png">
                  </span>
                  <span class="map-legend-title">Fixed</span>
                </li>

                <li class="map-li-padding">
                  <span class="map-legend-img">
                    <img src="assets/img/marker/notonthemarket.png">
                  </span>
                  <span class="map-legend-title">Not on the market</span>
                </li>

                <li class="map-li-padding">
                  <span class="map-legend-img">
                    <img src="assets/img/marker/been.png">
                  </span>
                  <span class="map-legend-title">Been</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="search-sm" class=" visible-sm visible-xs">
  <div class="row background">
    <div class="col-sm-12 col-xs-12">
      <form class="navbar-form" [formGroup]="searchForm">
        <div class="form-group form-grp-sm">
          <i class="fa fa-search inner-addon-sm" aria-hidden="true"></i>
          <custom-taginput class="form-control input-lg custom-input" (emitTagsChanged)="onTagsChanged($event)" [removeLastOnBackspace]="removeLastOnBackspace"
            [(ngModel)]="tags" [ngModelOptions]="{standalone: true}" name="tags"></custom-taginput>
        </div>
      </form>
    </div>

    <div class="col-sm-12 col-xs-12 input-button-sm">
      <div class="col-sm-6 col-xs-6">
        <button class="btn btn-lg search-btn btn-sm-width" (click)="showFilterDivSm()">
          <i class="fa fa-bars filter-btn-fa" aria-hidden="true"></i>Filter</button>

      </div>
      <div class="col-sm-6 col-xs-6">
        <button class="btn btn-lg search-btn btn-sm-width" data-toggle="modal" data-target="#shortlist-modal-sm">
          <i class="fa fa-bell shortlist-btn-fa" aria-hidden="true"></i>Shortlist</button>
      </div>
    </div>


    <div class="modal fade" id="shortlist-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <i class="fa fa-close"></i>

              </button>
              <h4 class="modal-title modal-header-text" id="myModalLabel">Monitor the search</h4>

            </div>
            <div class="modal-body modal-body-text">Monitor the search and make sure you do not miss anything. We will send you an email when new homes arrive.</div>
            <div>
              <form>
                <div class="form-group">
                  <label class="text-center modal-body-text modal-label" for="sel1">Deliver by email</label>
                  <select class="form-control" id="sel1">
                    <option>1 time/day</option>
                    <option>1 time/week</option>
                    <option>1 time/month</option>
                  </select>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default modal-button-css">Create Monitoring</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="search-div-sm" *ngIf="isShowFilterDivSm">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="col-sm-12 col-xs-12 filter-sm-heading">
          <div class="col-sm-6 col-xs-6 filter-search-sm">
            Filter Search
          </div>
          <div class="col-sm-3 col-xs-3">
            <button class="btn btn-sm filter-clear-btn-sm">Clear</button>
          </div>
          <div class="col-sm-3 col-xs-3">
            <button class="btn btn-sm filter-search-btn-sm" (click)="closeFilterDiv()">Search</button>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 filter-category-sm">Property</div>

        <div class="col-sm-12 col-xs-12 property-padding-sm">
          <div class="col-sm-4 col-xs-4">
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1">
              <label for="inlineCheckbox1">Apartment</label>
            </div>
          </div>
          <div class="col-sm-4 col-xs-4">
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option1">
              <label for="inlineCheckbox2">Villa</label>
            </div>
          </div>
          <div class="col-sm-4 col-xs-4">
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option1">
              <label for="inlineCheckbox3">Pair/Detached House</label>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12">
          <div class="col-sm-4 col-xs-4">
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox4" value="option1">
              <label for="inlineCheckbox3">Vacation</label>
            </div>
          </div>
          <div class="col-sm-4 col-xs-4">
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox5" value="option1">
              <label for="inlineCheckbox3">Courtyard</label>
            </div>
          </div>
          <div class="col-sm-4 col-xs-4">
            <div class="checkbox checkbox-inline">
              <input type="checkbox" id="inlineCheckbox6" value="option1">
              <label for="inlineCheckbox3">Plot/Land</label>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 filter-category-sm">Room</div>

        <div class="col-sm-12 col-xs-12">
          <div class="select-size-sm">
            <input type="checkbox" name="s-size" id="one" />
            <label for="one">1</label>
            <input type="checkbox" name="s-size" id="two" />
            <label for="two">2</label>
            <input type="checkbox" name="s-size" id="three" />
            <label for="three">3</label>
            <input type="checkbox" name="s-size" id="four" />
            <label for="four">4</label>
            <input type="checkbox" name="s-size" id="fiveplus" />
            <label for="fiveplus">5+</label>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 filter-category-sm">Living Area</div>

        <div class="col-sm-12 col-xs-12">
          <div class="col-sm-6 col-xs-6 row">
            <div class="form-group">
              <input type="text" class="form-control input-lg living-area-input-sm" id="min-living-area" placeholder="Min">
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group">
              <input type="text" class="form-control input-lg living-area-input-sm" id="max-living-area-sm" placeholder="Max">
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 filter-category-sm">Maximum fee</div>

        <div class="col-sm-12 col-xs-12">
          <input type="range" min="1" max="100" value="50" class="slider fee-slider-sm" id="myRangeSm">
        </div>

        <div class="col-sm-12 col-xs-12 filter-category-sm">Square meter price</div>

        <div class="col-sm-12 col-xs-12">
          <div class="col-sm-6 col-xs-6 row">
            <div class="form-group">
              <input type="text" class="form-control input-lg living-area-input-sm" id="sq-mt-price-min" placeholder="Min">
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group">
              <input type="text" class="form-control input-lg living-area-input-sm" id="sq-mt-price-max" placeholder="Max">
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 filter-category-sm">Lot Size</div>

        <div class="col-sm-12 col-xs-12">
          <div class="col-sm-6 col-xs-6 row">
            <div class="form-group">
              <input type="text" class="form-control input-lg living-area-input-sm" id="lot-size-min" placeholder="Min">
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group">
              <input type="text" class="form-control input-lg living-area-input-sm" id="lot-size-max" placeholder="Max">
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 filter-category-sm">Year built</div>

        <div class="col-sm-12 col-xs-12">
          <div class="col-sm-6 col-xs-6 row">
            <div class="form-group">
              <input type="text" class="form-control input-lg living-area-input-sm" id="year-built-min" placeholder="Min">
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group">
              <input type="text" class="form-control input-lg living-area-input-sm" id="year-built-max" placeholder="Max">
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 filter-category-sm">Distance to water</div>

        <div class="col-sm-12 col-xs-12">
          <input type="range" min="1" max="100" value="50" class="slider fee-slider-sm" id="distanceWaterSm">
        </div>

        <div class="col-sm-12 col-xs-12 filter-category-sm">New Developments</div>

        <div class="col-sm-12 col-xs-12">
          <div class="form-check">
            <label>
              <input type="radio" name="development-sm" checked>
              <span class="label-text">View all</span>
            </label>
          </div>
          <div class="form-check">
            <label>
              <input type="radio" name="development-sm">
              <span class="label-text">Hide new production</span>
            </label>
          </div>
          <div class="form-check">
            <label>
              <input type="radio" name="development-sm">
              <span class="label-text">Show only new production</span>
            </label>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 filter-category-sm">Soon for sale</div>

        <div class="col-sm-12 col-xs-12">
          <div class="form-check">
            <label>
              <input type="radio" name="soonforsale-sm" checked>
              <span class="label-text">Hide soon for sale</span>
            </label>
          </div>
          <div class="form-check">
            <label>
              <input type="radio" name="soonforsale-sm">
              <span class="label-text">View soon for sale</span>
            </label>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 filter-category-sm">Disounted housing</div>

        <div class="col-sm-12 col-xs-12">
          <div class="form-check">
            <label>
              <input type="radio" name="discounthousing-sm" checked>
              <span class="label-text">View all</span>
            </label>
          </div>
          <div class="form-check">
            <label>
              <input type="radio" name="discounthousing-sm">
              <span class="label-text">Show only price reduced</span>
            </label>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 filter-sm-heading">
          <div class="col-sm-6 col-xs-6">
          </div>
          <div class="col-sm-3 col-xs-3">
            <button class="btn btn-sm filter-clear-btn-sm">Clear</button>
          </div>
          <div class="col-sm-3 col-xs-3">
            <button class="btn btn-sm filter-search-btn-sm" (click)="closeFilterDiv()">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 page-height">

    <div class="row">
      <div>

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active tab-menu">
            <a href="#for-sale-sm" aria-controls="for-sale" role="tab" data-toggle="tab" (click)="setSalesTabTrue()">For Sale</a>
          </li>
          <li role="presentation" class="tab-menu">
            <a href="#fixed-price-sm" aria-controls="fixed-price" role="tab" data-toggle="tab" (click)="setFixedPriceTabTrue()">Fixed Price</a>
          </li>
        </ul>

        <div class="tab-content">
          <div *ngIf="isSalesTabSelected" role="tabpanel" class="tab-pane active" id="for-sale-sm">
            <div class="tab-info">
              Find accommodation in Gothenburg. 2269 homes for sale.
              <a href="#more-info-sale-sm" class="sales-more-info" data-toggle="collapse" (click)="isInfoTextClicked()">{{ infoText }}</a>
              <a href="#sort-div-sale-sm" class="sort-link" data-toggle="collapse" #sortInput>Sorting: {{ orderVariable }}</a>
              <div id="more-info-sale-sm" class="collapse">
                <h2 class="sales-more-info-heading">Homes for sale in the municipality of Gothenburg</h2>
                <p class="text-small text-justified">
                  The municipality of Gothenburg is an area in Västra Götaland County. Here is currently availablehomes for sale and average
                  rental price is 3 526 240 kr . It takes 31 days on average to sell a home and 179 sellers have chosen to
                  lower their bid price.
                </p>
              </div>
              <div id="sort-div-sale-sm" class="collapse sort-div-info ">
                <ul class="search-sort">
                  <li class="li-margin" [ngClass]="isSelected('publishedDate',false)" (click)="sortBy('publishedDate',false)">
                    <span>Newest</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('publishedDate',true)" (click)="sortBy('publishedDate',true)">
                    <span>Oldest</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('address',false)" (click)="sortBy('address',false)">
                    <span>Address (A-Z)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('address',true)" (click)="sortBy('address',true)">
                    <span>Address Z-A)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('totalPrice',true)" (click)="sortBy('totalPrice',true)">
                    <span>Price (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('totalPrice',false)" (click)="sortBy('totalPrice',false)">
                    <span>Price (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('pricePerSqMeter',false)" (click)="sortBy('pricePerSqMeter',false)">
                    <span>Sqmprice (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('pricePerSqMeter',true)" (click)="sortBy('pricePerSqMeter',true)">
                    <span>Sqmprice (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('expense',false)" (click)="sortBy('expense',false)">
                    <span>Accommodation cost (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('expense',true)" (click)="sortBy('expense',true)">
                    <span>Accommodation cost (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('priceChange',false)" (click)="sortBy('priceChange',false)">
                    <span>Price change (up)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('priceChange',true)" (click)="sortBy('priceChange',true)">
                    <span>Price change (down)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('rent',true)" (click)="sortBy('rent',true)">
                    <span>Fee (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('livingArea',true)" (click)="sortBy('livingArea',true)">
                    <span>Living Space (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('livingArea',false)" (click)="sortBy('livingArea',false)">
                    <span>Living space (largest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('roomsNo',true)" (click)="sortBy('roomsNo',true)">
                    <span>Empty (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('roomsNo',false)" (click)="sortBy('roomsNo',false)">
                    <span>Rooms (most)</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bg-sales-item">
              Arrived today
            </div>
            <div class="row sales-tab">
              <ul>
                <li *ngFor="let m of saleHomes  | orderBy:orderVariable:reverseVariable:'case-insensitive':customDateComparator | paginate: { itemsPerPage: 10, currentPage: p }"
                  (mouseenter)="hoverMarker(m)" (mouseleave)="removeHoverMarker(m)" class="row listing-div">
                  <a [routerLink]="['/home-detail']" [queryParams]="{ id: m.id }" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
                    <div class="col-md-12 listing-image">
                      <div class="col-md-5">
                        <img src="{{ m.imageUrl }}" class="img-responsive">
                      </div>
                      <div class="col-md-7">
                        <div class="col-md-7">
                          <div>
                            <p class="listing-title">
                              {{ m.apartmentNo }}
                            </p>
                            <p class="listing-desc">
                              {{ m.roomsNo }} rooms, {{ m.livingArea }} m
                              <sup>2</sup>
                            </p>
                            <p class="listing-address">
                              {{ m.address }}
                            </p>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <p class="listing-price">
                            {{ m.totalPrice }} USD
                          </p>
                          <p class="listing-sq-mt-price">
                            {{ m.pricePerSqMeter }} USD/m
                            <sup>2</sup>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
          <div *ngIf="isFixedPriceTabSelected" role="tabpanel" class="tab-pane" id="fixed-price-sm">
            <div class="tab-info">
              Find accommodation in Gothenburg. 2269 homes for sale.
              <a href="#more-info-fixedPrice" class="sales-more-info" data-toggle="collapse" (click)="isInforDivForFixedPriceClicked()">{{ infoTextFixedPrice }}</a>
              <a href="#sort-div-fixedprice" class="sort-link" data-toggle="collapse" #sortInput>Sorting: {{ orderVariable }}</a>
              <div id="more-info-fixedPrice" class="collapse">
                <h2 class="sales-more-info-heading">Homes for sale in the municipality of Gothenburg</h2>
                <p class="text-small text-justified">
                  The municipality of Gothenburg is an area in Västra Götaland County. Here is currently availablehomes for sale and average
                  rental price is 3 526 240 kr . It takes 31 days on average to sell a home and 179 sellers have chosen to
                  lower their bid price.
                </p>
              </div>

              <div id="sort-div-fixedprice" class="collapse sort-div-info ">
                <ul class="search-sort">
                  <li class="li-margin" [ngClass]="isSelected('publishedDate',false)" (click)="sortBy('publishedDate',false)">
                    <span>Newest</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('publishedDate',true)" (click)="sortBy('publishedDate',true)">
                    <span>Oldest</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('address',false)" (click)="sortBy('address',false)">
                    <span>Address (A-Z)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('address',true)" (click)="sortBy('address',true)">
                    <span>Address Z-A)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('totalPrice',true)" (click)="sortBy('totalPrice',true)">
                    <span>Price (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('totalPrice',false)" (click)="sortBy('totalPrice',false)">
                    <span>Price (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('pricePerSqMeter',false)" (click)="sortBy('pricePerSqMeter',false)">
                    <span>Sqmprice (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('pricePerSqMeter',true)" (click)="sortBy('pricePerSqMeter',true)">
                    <span>Sqmprice (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('expense',false)" (click)="sortBy('expense',false)">
                    <span>Accommodation cost (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('expense',true)" (click)="sortBy('expense',true)">
                    <span>Accommodation cost (highest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('priceChange',false)" (click)="sortBy('priceChange',false)">
                    <span>Price change (up)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('priceChange',true)" (click)="sortBy('priceChange',true)">
                    <span>Price change (down)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('rent',true)" (click)="sortBy('rent',true)">
                    <span>Fee (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('livingArea',true)" (click)="sortBy('livingArea',true)">
                    <span>Living Space (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('livingArea',false)" (click)="sortBy('livingArea',false)">
                    <span>Living space (largest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('roomsNo',true)" (click)="sortBy('roomsNo',true)">
                    <span>Empty (lowest)</span>
                  </li>
                  <li class="li-margin" [ngClass]="isSelected('roomsNo',false)" (click)="sortBy('roomsNo',false)">
                    <span>Rooms (most)</span>
                  </li>
                </ul>
              </div>

            </div>
            <div class="bg-sales-item">
              Arrived today
            </div>
            <div class="row sales-tab">
              <ul>
                <li *ngFor="let m of fixedPriceHomes  | orderBy:orderVariable:reverseVariable:'case-insensitive':customDateComparator | paginate: { itemsPerPage: 10, currentPage: f }"
                  (mouseenter)="hoverMarker(m)" (mouseleave)="removeHoverMarker(m)" class="row listing-div">
                  <a [routerLink]="['/home-detail']" [queryParams]="{ id: m.id }" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
                    <div class="col-md-12 listing-image">
                      <div class="col-md-5">
                        <img src="{{ m.imageUrl }}" class="img-responsive">
                      </div>
                      <div class="col-md-7">
                        <div class="col-md-7">
                          <div>
                            <p class="listing-title">
                              {{ m.apartmentNo }}
                            </p>
                            <p class="listing-desc">
                              {{ m.roomsNo }} rooms, {{ m.livingArea }} m
                              <sup>2</sup>
                            </p>
                            <p class="listing-address">
                              {{ m.address }}
                            </p>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <p class="listing-price">
                            {{ m.totalPrice }} USD
                          </p>
                          <p class="listing-sq-mt-price">
                            {{ m.pricePerSqMeter }} USD/m
                            <sup>2</sup>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <pagination-controls (pageChange)="f = $event"></pagination-controls>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>